.fill-red{
	background-color:#e32;
}

.fill-pink{
	background-color:#eb2649;
}

.fill-blue{
	background-color:#07e;
}

.fill-yellow{
	background-color:#fff600;
}

.fill-gray{
	background-color:#eaeaea;
}

.fill-gray-darker{
	background-color:#222;
}