// Color Fills

.fill-red {
	background-color:$fill-red;
}

.fill-pink {
	background-color:$fill-pink;
}

.fill-blue {
	background-color:$fill-blue;
}

.fill-yellow {
	background-color:$fill-yellow;
}

.fill-gray {
	background-color:$fill-gray;
}

.fill-gray-darker {
	background-color:$fill-gray-darker;
}

.fill-white {
	background-color:$fill-white;
}

// Text Colors

body, .text-gray {
	color:$text-gray;
}

.text-white {
	color:$text-white;
}

.text-gray-lighter {
	color:$text-gray-lighter;
}

.text-gray-lightest {
	color:$text-gray-lightest;
}

.text-red {
	color:$text-red;
}

.text-orange {
	color:$text-orange;
}

.text-green {
	color:$text-green;
}

a, .text-blue {
	color:$text-blue;
}