.text-input,
.textarea,
.select,
.date{
	font-family: inherit;
  background: $fill-white;
  font-size: $type-3;
  line-height: $line-height + 1.75rem;
  padding: 0 1rem;
  border: 1px solid #aaa; 
}

.select{
	-webkit-appearance: none;
  -webkit-border-radius: 0px;
}

// keep this here until we figure out custom select menu arrow
// .select::after{
//   content: "";
//   display: block;
//   width: 0;
//   height: 0;
//   border-style: solid;
//   border-width: 10px 7.5px 0 7.5px;
//   border-color: #333333 transparent transparent transparent;
// }

.date{
  display: inline;
  width: $space-4 * 2;
  margin-right: $space-1;
}

.date--year{
  width: 5rem;
}


.form-label{
	display: block;
	font-weight: 600;
	margin-bottom: $space-1; 
}

.form-label-optional{
	color: $text-gray-lightest;
	font-weight: normal;
}

.form-label-required{
	color: $text-red;
	font-weight: normal;
}

.form-helper {
	color: $text-gray-lightest;
	display: block;
	margin-top: $space-1; 
}

.form-feedback {
  display: block;
  margin-top: $space-1; 
}


.form-warning {
  .form-feedback,
  .form-label {
    color: $text-orange;  
  }

	.text-input	{
		border-color: $fill-orange;	
	}
}

.form-success {
  .form-feedback,
  .form-label {
    color: $text-green;  
  }

  .text-input {
    border-color: $fill-green; 
  }
}

.form-error {
  .form-feedback,
  .form-label {
    color: $text-red;  
  }

  .text-input {
    border-color: $fill-red; 
  }
}