// Base Columns

.gutters .col{
	margin-right: 3%;
  &:last-child {
    margin-right: 0;
  }
}

.gutters .col-last{
	margin-right: 0;
}

.gutters .col-1 {
	width: 5.5%;
}

.gutters .col-2 {
	width: 14%;
}

.gutters .col-3 {
	width: 22.5%;
}

.gutters .col-4 {
	width: 31%;
}

.gutters .col-5 {
	width: 39.5%;
}

.gutters .col-6 {
	width: 48%;
}

.gutters .col-7 {
	width: 56.5%;
}

.gutters .col-8 {
	width: 65%;
}

.gutters .col-9 {
	width: 73.5%;
}

.gutters .col-10 {
	width: 82%;
}

.gutters .col-11 {
	width: 90.5%;
}

.gutters .col-12 {
	margin-right: 0;
	width: 100%;
}

// Base Offsets

.gutters .offset-1 {
    margin-left: 5.5%;
}

.gutters .offset-2 {
    margin-left: 14%;
}

.gutters .offset-3 {
    margin-left: 22.5%;
}

.gutters .offset-4 {
    margin-left: 31%;
}

.gutters .offset-5 {
    margin-left: 39.5%;
}

.gutters .offset-6 {
    margin-left: 48%;
}

.gutters .offset-7 {
    margin-left: 56.5%;
}

.gutters .offset-8 {
    margin-left: 65%;
}

.gutters .offset-9 {
    margin-left: 73.5%;
}

.gutters .offset-10 {
    margin-left: 82%;
}

.gutters .offset-11 {
    margin-left: 90.5%;
}

// Responsive Grid Classes

// Extra Small

@media (min-width: 24rem) {

	// Columns

	.gutters .xs-col-1 {
	    width: 5.5%;
	}

	.gutters .xs-col-2 {
	    width: 14%;
	}

	.gutters .xs-col-3 {
	    width: 22.5%;
	}

	.gutters .xs-col-4 {
	    width: 31%;
	}

	.gutters .xs-col-5 {
	    width: 39.5%;
	}

	.gutters .xs-col-6 {
	    width: 48%;
	}

	.gutters .xs-col-7 {
	    width: 56.5%;
	}

	.gutters .xs-col-8 {
	    width: 65%;
	}

	.gutters .xs-col-9 {
	    width: 73.5%;
	}

	.gutters .xs-col-10 {
	    width: 82%;
	}

	.gutters .xs-col-11 {
	    width: 90.5%;
	}

	.gutters .xs-col-12 {
	    width: 100%;
	}

	// Offsets

	.gutters .xs-offset-1 {
	    margin-left: 5.5%;
	}

	.gutters .xs-offset-2 {
	    margin-left: 14%;
	}

	.gutters .xs-offset-3 {
	    margin-left: 22.5%;
	}

	.gutters .xs-offset-4 {
	    margin-left: 31%;
	}

	.gutters .xs-offset-5 {
	    margin-left: 39.5%;
	}

	.gutters .xs-offset-6 {
	    margin-left: 48%;
	}

	.gutters .xs-offset-7 {
	    margin-left: 56.5%;
	}

	.gutters .xs-offset-8 {
	    margin-left: 65%;
	}

	.gutters .xs-offset-9 {
	    margin-left: 73.5%;
	}

	.gutters .xs-offset-10 {
	    margin-left: 82%;
	}

	.gutters .xs-offset-11 {
	    margin-left: 90.5%;
	}

}

// Small

@media (min-width: 40rem) {

	// Columns

	.gutters .sm-col-1 {
	    width: 5.5%;
	}

	.gutters .sm-col-2 {
	    width: 14%;
	}

	.gutters .sm-col-3 {
	    width: 22.5%;
	}

	.gutters .sm-col-4 {
	    width: 31%;
	}

	.gutters .sm-col-5 {
	    width: 39.5%;
	}

	.gutters .sm-col-6 {
	    width: 48%;
	}

	.gutters .sm-col-7 {
	    width: 56.5%;
	}

	.gutters .sm-col-8 {
	    width: 65%;
	}

	.gutters .sm-col-9 {
	    width: 73.5%;
	}

	.gutters .sm-col-10 {
	    width: 82%;
	}

	.gutters .sm-col-11 {
	    width: 90.5%;
	}

	.gutters .sm-col-12 {
	    width: 100%;
	}

	// Offsets

	.gutters .sm-offset-1 {
	    margin-left: 5.5%;
	}

	.gutters .sm-offset-2 {
	    margin-left: 14%;
	}

	.gutters .sm-offset-3 {
	    margin-left: 22.5%;
	}

	.gutters .sm-offset-4 {
	    margin-left: 31%;
	}

	.gutters .sm-offset-5 {
	    margin-left: 39.5%;
	}

	.gutters .sm-offset-6 {
	    margin-left: 48%;
	}

	.gutters .sm-offset-7 {
	    margin-left: 56.5%;
	}

	.gutters .sm-offset-8 {
	    margin-left: 65%;
	}

	.gutters .sm-offset-9 {
	    margin-left: 73.5%;
	}

	.gutters .sm-offset-10 {
	    margin-left: 82%;
	}

	.gutters .sm-offset-11 {
	    margin-left: 90.5%;
	}

}

// Medium

@media (min-width: 52rem) {

	// Columns

	.gutters .md-col-1 {
	    width: 5.5%;
	}

	.gutters .md-col-2 {
	    width: 14%;
	}

	.gutters .md-col-3 {
	    width: 22.5%;
	}

	.gutters .md-col-4 {
	    width: 31%;
	}

	.gutters .md-col-5 {
	    width: 39.5%;
	}

	.gutters .md-col-6 {
	    width: 48%;
	}

	.gutters .md-col-7 {
	    width: 56.5%;
	}

	.gutters .md-col-8 {
	    width: 65%;
	}

	.gutters .md-col-9 {
	    width: 73.5%;
	}

	.gutters .md-col-10 {
	    width: 82%;
	}

	.gutters .md-col-11 {
	    width: 90.5%;
	}

	.gutters .md-col-12 {
	    width: 100%;
	}

	// Offsets

	.gutters .md-offset-1 {
	    margin-left: 5.5%;
	}

	.gutters .md-offset-2 {
	    margin-left: 14%;
	}

	.gutters .md-offset-3 {
	    margin-left: 22.5%;
	}

	.gutters .md-offset-4 {
	    margin-left: 31%;
	}

	.gutters .md-offset-5 {
	    margin-left: 39.5%;
	}

	.gutters .md-offset-6 {
	    margin-left: 48%;
	}

	.gutters .md-offset-7 {
	    margin-left: 56.5%;
	}

	.gutters .md-offset-8 {
	    margin-left: 65%;
	}

	.gutters .md-offset-9 {
	    margin-left: 73.5%;
	}

	.gutters .md-offset-10 {
	    margin-left: 82%;
	}

	.gutters .md-offset-11 {
	    margin-left: 90.5%;
	}

}

// Large

@media (min-width: 64rem) {

	// Columns

	.gutters .lg-col-1 {
	    width: 5.5%;
	}

	.gutters .lg-col-2 {
	    width: 14%;
	}

	.gutters .lg-col-3 {
	    width: 22.5%;
	}

	.gutters .lg-col-4 {
	    width: 31%;
	}

	.gutters .lg-col-5 {
	    width: 39.5%;
	}

	.gutters .lg-col-6 {
	    width: 48%;
	}

	.gutters .lg-col-7 {
	    width: 56.5%;
	}

	.gutters .lg-col-8 {
	    width: 65%;
	}

	.gutters .lg-col-9 {
	    width: 73.5%;
	}

	.gutters .lg-col-10 {
	    width: 82%;
	}

	.gutters .lg-col-11 {
	    width: 90.5%;
	}

	.gutters .lg-col-12 {
	    width: 100%;
	}

	// Offsets

	.gutters .lg-offset-1 {
	    margin-left: 5.5%;
	}

	.gutters .lg-offset-2 {
	    margin-left: 14%;
	}

	.gutters .lg-offset-3 {
	    margin-left: 22.5%;
	}

	.gutters .lg-offset-4 {
	    margin-left: 31%;
	}

	.gutters .lg-offset-5 {
	    margin-left: 39.5%;
	}

	.gutters .lg-offset-6 {
	    margin-left: 48%;
	}

	.gutters .lg-offset-7 {
	    margin-left: 56.5%;
	}

	.gutters .lg-offset-8 {
	    margin-left: 65%;
	}

	.gutters .lg-offset-9 {
	    margin-left: 73.5%;
	}

	.gutters .lg-offset-10 {
	    margin-left: 82%;
	}

	.gutters .lg-offset-11 {
	    margin-left: 90.5%;
	}

}