.col {
	float:left;
}

// Base Columns

@each $breakpoint in (all, xs, sm, md, lg) {
  $breakpoint-prefix: if($breakpoint != all, "#{$breakpoint}-", null);
	@include media($breakpoint) {

		.#{$breakpoint-prefix}col-1 {
		    width: 8.333333333333332%;
		}

		.#{$breakpoint-prefix}col-2 {
		    width: 16.666666666666664%;
		}

		.#{$breakpoint-prefix}col-3 {
		    width: 25%;
		}

		.#{$breakpoint-prefix}col-4 {
		    width: 33.33333333333333%;
		}

		.#{$breakpoint-prefix}col-5 {
		    width: 41.66666666666667%;
		}

		.#{$breakpoint-prefix}col-6 {
		    width: 50%;
		}

		.#{$breakpoint-prefix}col-7 {
		    width: 58.333333333333336%;
		}

		.#{$breakpoint-prefix}col-8 {
		    width: 66.66666666666666%;
		}

		.#{$breakpoint-prefix}col-9 {
		    width: 75%;
		}

		.#{$breakpoint-prefix}col-10 {
		    width: 83.33333333333334%;
		}

		.#{$breakpoint-prefix}col-11 {
		    width: 91.66666666666666%;
		}

		.#{$breakpoint-prefix}col-12 {
		    width: 100%;
		}

		// Base Offsets

		.#{$breakpoint-prefix}offset-1 {
		    margin-left: 8.333333333333332%;
		}

		.#{$breakpoint-prefix}offset-2 {
		    margin-left: 16.666666666666664%;
		}

		.#{$breakpoint-prefix}offset-3 {
		    margin-left: 25%;
		}

		.#{$breakpoint-prefix}offset-4 {
		    margin-left: 33.33333333333333%;
		}

		.#{$breakpoint-prefix}offset-5 {
		    margin-left: 41.66666666666667%;
		}

		.#{$breakpoint-prefix}offset-6 {
		    margin-left: 50%;
		}

		.#{$breakpoint-prefix}offset-7 {
		    margin-left: 58.333333333333336%;
		}

		.#{$breakpoint-prefix}offset-8 {
		    margin-left: 66.66666666666666%;
		}

		.#{$breakpoint-prefix}offset-9 {
		    margin-left: 75%;
		}

		.#{$breakpoint-prefix}offset-10 {
		    margin-left: 83.33333333333334%;
		}

		.#{$breakpoint-prefix}offset-11 {
		    margin-left: 91.66666666666666%;
		}
	}
}

// Gutters

.gutters {
  margin: 0 ($gutter * -1);
}

.gutters .col {
  padding: 0 $gutter;
}

