// Base Column Float

.col {
 float: left;
}

// @each $breakpoint in (all, xs, sm, md, lg) {
//   $breakpoint-prefix: if($breakpoint != all, "#{$breakpoint}-", null);
//     @include media($breakpoint) {

        // Columns

        @include responsive(col-1) {
            width: percentage(1/12);
        }

        @include responsive(col-2) {
            width: percentage(2/12);
        }

        @include responsive(col-3) {
            width: percentage(3/12);
        }

        @include responsive(col-4) {
            width: percentage(4/12);
        }

        @include responsive(col-5) {
            width: percentage(5/12);
        }

        @include responsive(col-6) {
            width: percentage(6/12);
        }

        @include responsive(col-7) {
            width: percentage(7/12);
        }

        @include responsive(col-8) {
            width: percentage(8/12);
        }

        @include responsive(col-9) {
            width: percentage(9/12);
        }

        @include responsive(col-10) {
            width: percentage(10/12);
        }

        @include responsive(col-11) {
            width: percentage(11/12);
        }

        @include responsive(col-12) {
            width: percentage(12/12);
        }

        // Offsets

        @include responsive(offset-1) {
            margin-left: percentage(1/12);
        }

        @include responsive(offset-2) {
            margin-left: percentage(2/12);
        }

        @include responsive(offset-3) {
            margin-left: percentage(3/12);
        }

        @include responsive(offset-4) {
            margin-left: percentage(4/12);
        }

        @include responsive(offset-5) {
            margin-left: percentage(5/12);
        }

        @include responsive(offset-6) {
            margin-left: percentage(6/12);
        }

        @include responsive(offset-7) {
            margin-left: percentage(7/12);
        }

        @include responsive(offset-8) {
            margin-left: percentage(8/12);
        }

        @include responsive(offset-9) {
            margin-left: percentage(9/12);
        }

        @include responsive(offset-10) {
            margin-left: percentage(10/12);
        }

        @include responsive(offset-11) {
            margin-left: percentage(11/12);
        }
//     }
// }

// Add gutters to the full grid

$gutter: 0.625rem;

.gutters {
  margin: 0 ($gutter * -1);
}

.gutters .col {
  padding: 0 $gutter;
}

