// Base Columns

.col {
	float: left;
}

.col-1 {
    width: 8.333333333333332%;
}

.col-2 {
    width: 16.666666666666664%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333333333%;
}

.col-5 {
    width: 41.66666666666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333333333336%;
}

.col-8 {
    width: 66.66666666666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333333334%;
}

.col-11 {
    width: 91.66666666666666%;
}

.col-12 {
    width: 100%;
}

// Base Offsets

.offset-1 {
    margin-left: 8.333333333333332%;
}

.offset-2 {
    margin-left: 16.666666666666664%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: 33.33333333333333%;
}

.offset-5 {
    margin-left: 41.66666666666667%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.333333333333336%;
}

.offset-8 {
    margin-left: 66.66666666666666%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.33333333333334%;
}

.offset-11 {
    margin-left: 91.66666666666666%;
}

// Responsive Grid Classes

// Extra Small

@media (min-width: 24rem) {

	// Columns

	.xs-col-1 {
	    width: 8.333333333333332%;
	}

	.xs-col-2 {
	    width: 16.666666666666664%;
	}

	.xs-col-3 {
	    width: 25%;
	}

	.xs-col-4 {
	    width: 33.33333333333333%;
	}

	.xs-col-5 {
	    width: 41.66666666666667%;
	}

	.xs-col-6 {
	    width: 50%;
	}

	.xs-col-7 {
	    width: 58.333333333333336%;
	}

	.xs-col-8 {
	    width: 66.66666666666666%;
	}

	.xs-col-9 {
	    width: 75%;
	}

	.xs-col-10 {
	    width: 83.33333333333334%;
	}

	.xs-col-11 {
	    width: 91.66666666666666%;
	}

	.xs-col-12 {
	    width: 100%;
	}

	// Offsets

	.xs-offset-1 {
	    margin-left: 8.333333333333332%;
	}

	.xs-offset-2 {
	    margin-left: 16.666666666666664%;
	}

	.xs-offset-3 {
	    margin-left: 25%;
	}

	.xs-offset-4 {
	    margin-left: 33.33333333333333%;
	}

	.xs-offset-5 {
	    margin-left: 41.66666666666667%;
	}

	.xs-offset-6 {
	    margin-left: 50%;
	}

	.xs-offset-7 {
	    margin-left: 58.333333333333336%;
	}

	.xs-offset-8 {
	    margin-left: 66.66666666666666%;
	}

	.xs-offset-9 {
	    margin-left: 75%;
	}

	.xs-offset-10 {
	    margin-left: 83.33333333333334%;
	}

	.xs-offset-11 {
	    margin-left: 91.66666666666666%;
	}

}

// Small

@media (min-width: 40rem) {

	// Columns

	.sm-col-1 {
	    width: 8.333333333333332%;
	}

	.sm-col-2 {
	    width: 16.666666666666664%;
	}

	.sm-col-3 {
	    width: 25%;
	}

	.sm-col-4 {
	    width: 33.33333333333333%;
	}

	.sm-col-5 {
	    width: 41.66666666666667%;
	}

	.sm-col-6 {
	    width: 50%;
	}

	.sm-col-7 {
	    width: 58.333333333333336%;
	}

	.sm-col-8 {
	    width: 66.66666666666666%;
	}

	.sm-col-9 {
	    width: 75%;
	}

	.sm-col-10 {
	    width: 83.33333333333334%;
	}

	.sm-col-11 {
	    width: 91.66666666666666%;
	}

	.sm-col-12 {
	    width: 100%;
	}

	// Offsets

	.sm-offset-1 {
	    margin-left: 8.333333333333332%;
	}

	.sm-offset-2 {
	    margin-left: 16.666666666666664%;
	}

	.sm-offset-3 {
	    margin-left: 25%;
	}

	.sm-offset-4 {
	    margin-left: 33.33333333333333%;
	}

	.sm-offset-5 {
	    margin-left: 41.66666666666667%;
	}

	.sm-offset-6 {
	    margin-left: 50%;
	}

	.sm-offset-7 {
	    margin-left: 58.333333333333336%;
	}

	.sm-offset-8 {
	    margin-left: 66.66666666666666%;
	}

	.sm-offset-9 {
	    margin-left: 75%;
	}

	.sm-offset-10 {
	    margin-left: 83.33333333333334%;
	}

	.sm-offset-11 {
	    margin-left: 91.66666666666666%;
	}

}

// Medium

@media (min-width: 52rem) {

	// Columns

	.md-col-1 {
	    width: 8.333333333333332%;
	}

	.md-col-2 {
	    width: 16.666666666666664%;
	}

	.md-col-3 {
	    width: 25%;
	}

	.md-col-4 {
	    width: 33.33333333333333%;
	}

	.md-col-5 {
	    width: 41.66666666666667%;
	}

	.md-col-6 {
	    width: 50%;
	}

	.md-col-7 {
	    width: 58.333333333333336%;
	}

	.md-col-8 {
	    width: 66.66666666666666%;
	}

	.md-col-9 {
	    width: 75%;
	}

	.md-col-10 {
	    width: 83.33333333333334%;
	}

	.md-col-11 {
	    width: 91.66666666666666%;
	}

	.md-col-12 {
	    width: 100%;
	}

	// Offsets

	.md-offset-1 {
	    margin-left: 8.333333333333332%;
	}

	.md-offset-2 {
	    margin-left: 16.666666666666664%;
	}

	.md-offset-3 {
	    margin-left: 25%;
	}

	.md-offset-4 {
	    margin-left: 33.33333333333333%;
	}

	.md-offset-5 {
	    margin-left: 41.66666666666667%;
	}

	.md-offset-6 {
	    margin-left: 50%;
	}

	.md-offset-7 {
	    margin-left: 58.333333333333336%;
	}

	.md-offset-8 {
	    margin-left: 66.66666666666666%;
	}

	.md-offset-9 {
	    margin-left: 75%;
	}

	.md-offset-10 {
	    margin-left: 83.33333333333334%;
	}

	.md-offset-11 {
	    margin-left: 91.66666666666666%;
	}

}

// Large

@media (min-width: 64rem) {

	// Columns

	.lg-col-1 {
	    width: 8.333333333333332%;
	}

	.lg-col-2 {
	    width: 16.666666666666664%;
	}

	.lg-col-3 {
	    width: 25%;
	}

	.lg-col-4 {
	    width: 33.33333333333333%;
	}

	.lg-col-5 {
	    width: 41.66666666666667%;
	}

	.lg-col-6 {
	    width: 50%;
	}

	.lg-col-7 {
	    width: 58.333333333333336%;
	}

	.lg-col-8 {
	    width: 66.66666666666666%;
	}

	.lg-col-9 {
	    width: 75%;
	}

	.lg-col-10 {
	    width: 83.33333333333334%;
	}

	.lg-col-11 {
	    width: 91.66666666666666%;
	}

	.lg-col-12 {
	    width: 100%;
	}

	// Offsets

	.lg-offset-1 {
	    margin-left: 8.333333333333332%;
	}

	.lg-offset-2 {
	    margin-left: 16.666666666666664%;
	}

	.lg-offset-3 {
	    margin-left: 25%;
	}

	.lg-offset-4 {
	    margin-left: 33.33333333333333%;
	}

	.lg-offset-5 {
	    margin-left: 41.66666666666667%;
	}

	.lg-offset-6 {
	    margin-left: 50%;
	}

	.lg-offset-7 {
	    margin-left: 58.333333333333336%;
	}

	.lg-offset-8 {
	    margin-left: 66.66666666666666%;
	}

	.lg-offset-9 {
	    margin-left: 75%;
	}

	.lg-offset-10 {
	    margin-left: 83.33333333333334%;
	}

	.lg-offset-11 {
	    margin-left: 91.66666666666666%;
	}

}

// Gutters

.gutters{
	margin:0 -3%;
}

.gutters .col{
	padding: 1.5%;
}