// Generate Breakpoints

@mixin media($breakpoint) {
  $queries: (
    xs: 24rem,
    sm: 40rem,
    md: 52rem,
    lg: 64rem,
  );
  
  @if $breakpoint == 'all' {
    @content;
  } @else {
    @media (min-width: #{map-get($queries, $breakpoint)}) {
      @content;
    }
  }
}

@mixin responsive($class) {
  @each $breakpoint in (all, xs, sm, md, lg) {
    $breakpoint-prefix: if($breakpoint != all, "#{$breakpoint}-", null);
  
    @include media($breakpoint) {
      .#{$breakpoint-prefix}#{$class} {
        @content
      }
    }
  }
}