// Code Snipppet Syntax Highlighting https://highlightjs.org/

code {
  font-family: Monaco, monospace;
  white-space: pre-wrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Inline code blocks
  &.js-highlight {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: $fill-blue;
    font-size: $type-5;
    color: $text-white;
    font-weight: bold;
  }
  
  // Override highlight.js theme properties
  &.hljs { 
    background-color: $fill-gray-darker; 
    padding: $space-2 $space-1;
    font-size: $type-5;
    line-height: 1.75;
    margin-top: $space-1;
  }
}

pre {
  line-height: 0;
}

// Solid Nav

.solid-nav {
  border-top:10px solid $fill-pink;
  width:12rem;
  overflow: auto;
}

.solid-nav a{
  text-decoration:none;
  transition:color ease-in-out .1s;
}

.solid-nav a:hover{
  color:#fff;
  transition:color ease-in-out .1s;
}

.main-content{
  border-top:10px solid $fill-blue;
  margin-left:12rem;
}

.solid-nav-items a{
  padding:.4rem 0;
}

.solid-nav__menu {
  display: none;
}

.solid-nav button {
  padding: .75rem;
  outline:none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;  
}

@media (max-width: 40rem) {
  .solid-nav {
    width:100%;
    height:44px;
    overflow: hidden;
    border-top:2px solid $fill-pink;
    -webkit-transition: height 200ms ease-out;
    transition: height 200ms ease-out;
  }

  .solid-nav__menu {
    display: block;
    background-image: svg-background($menu);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1rem;
    background-color: transparent;
  }

  .solid-nav--visible .solid-nav__menu {
    background-image: svg-background($x);
  }

  .main-content{
    margin-left: 0;
    margin-top: 44px;
  }

  .solid-nav.solid-nav--visible {
    height:100%;
  }

  .solid-nav.solid-nav--overflow {
    overflow:scroll;
  }
}

// Welcome

.find-help a{
  text-decoration:none;
}

.find-help a:hover{
  background:$fill-gray-lighter;
}