// Code Snipppet Syntax Highlighting https://highlightjs.org/

code {
  font-family: Monaco, monospace;
  -webkit-font-smoothing: antialiased;
  white-space: pre-wrap;
  
  // Override highlight.js theme properties
  &.hljs { 
    background-color: $fill-gray-lighter; 
    padding: $space-2 $space-1;
    font-size: $type-5;
    line-height: 1.75;
    margin-top: $space-1;
  }
}

pre {
  line-height: 0;
}

.class-name {
  color: $text-orange;
}

// Solid Nav

.solid-nav {
  border-top:10px solid $fill-pink;
  width:12em;
}

.solid-nav a{
  text-decoration:none;
  transition:color ease-in-out .1s;
}

.solid-nav a:hover{
  color:#fff;
  transition:color ease-in-out .1s;
}

.main-content{
  border-top:10px solid $fill-blue;
  margin-left:12em;
}

.solid-nav-items a{
  padding:.4rem 0;
}