// Headers


//Hosted Typefaces – we'll eventually move these to their own partial 

@font-face {
  font-family: 'Caponi-Slab-Semibold';
  src: url('fonts/Caponi/Caponi-Slab-Semibold.otf');
}

body, h1, h2, h3, h4, h5, h6, .type-1, .type-2, .type-3, .type-4, .type-5, .type-6 {
  line-height: 1.3;
}

h1, .type-1 {
  font-size: 2.25rem;
}

h2, .type-2 {
  font-size: 1.375rem;
}

h3, .type-3 {
  font-size: 1.125rem;
}

h4, .type-4 {
  font-size: 1rem;
}

h5, .type-5 {
  font-size: 0.875rem;
}

h6, .type-6 {
  font-size: 0.75rem;
}


// Body

p {
  font-size: 1rem;
  line-height: 1.375em;
}


// Typography Emphasis and Styling

.regular, 
.normal { 
	font-weight: 400;
}

strong, 
b, 
.bold { 
	font-weight: 600;
}

em, 
i, 
.italic { 
	font-style: italic;
}

.caps  { 
	text-transform: uppercase;
}

.text-left { 
	text-align: left;
}

.text-center { 
	text-align: center;
}

.text-right { 
	text-align: right;
}

.text-justify { 
	text-align: justify;
}

.nowrap { 
	white-space: nowrap;
}

.truncate { 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


// Typeface Classes //

.slab {
  font-family: 'Caponi-Slab-Semibold';
  line-height:1.1;
}