h1, h2, h3, h4, h5, h6 {
  line-height: 1.1
}

h1, .type-1 {
  font-size: 2.25rem;
}

h2, .type-2 {
  font-size: 1.375rem;
}

h3, .type-3 {
  font-size: 1.125rem;
}

h4, .type-4 {
  font-size: 1rem;
}

h5, .type-5 {
  font-size: .75rem;
}

h6, .type-6 {
  font-size: .625rem;
}

p {
  @extend h4; //maybe we shouldn't do this? 
  line-height: 1.375;
}

.type-1 {
  @extend h1;
}

.type-2 {
  @extend h2;
}

.type-3 {
  @extend h3;
}

.type-4 {
  @extend h4;
}

.type-5 {
  @extend h5;
}

.header__label {
  color: #b0b0b0;
}
