html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
 
*, *:before, *:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
}

html {font-size: 16px; font-family: "Proxima Nova", Helvetica, Arial, sans-serif;} // This is just for reference

// Layout

    @include responsive(inline)       { display: inline; }
    @include responsive(block)        { display: block; }
    @include responsive(inline-block) { display: inline-block; }

    @include responsive(show){ display: initial; }
    @include responsive(hide){ display: none; }

    @include responsive(overflow-hidden) { overflow: hidden; }
    @include responsive(overflow-auto)   { overflow: auto; }
    @include responsive(overflow-scroll) { overflow: scroll; }

    @include responsive(float-left)  { float: left; }
    @include responsive(float-right) { float: right; }

    @include responsive(half-width) { width: 50%; }
    @include responsive(full-width) { width: 100%; }
    @include responsive(fit) { max-width: 100%; }
    @include responsive(full-height) { height: 100%; }

    .clearfix:before,
    %clearfix:before,
    .clearfix:after,
    %clearfix:after {
      content: " ";
      display: table;
    }
    .clearfix:after { clear: both; }

    // White Space

    // Margin
    @include responsive(m0)  { margin:        0; }
    @include responsive(mt0) { margin-top:    0; }
    @include responsive(mr0) { margin-right:  0; }
    @include responsive(mb0) { margin-bottom: 0; }
    @include responsive(ml0) { margin-left:   0; }
    @include responsive(mx0) { margin-left:   0; margin-right: 0;}
    @include responsive(my0) { margin-top:    0; margin-bottom: 0;}

    @include responsive(m1)  { margin:        $space-1; }
    @include responsive(mt1) { margin-top:    $space-1; }
    @include responsive(mr1) { margin-right:  $space-1; }
    @include responsive(mb1) { margin-bottom: $space-1; }
    @include responsive(ml1) { margin-left:   $space-1; }
    @include responsive(mx1) { margin-left:   $space-1; margin-right: $space-1;}
    @include responsive(my1) { margin-top:    $space-1; margin-bottom: $space-1;}

    @include responsive(m2)  { margin:        $space-2; }
    @include responsive(mt2) { margin-top:    $space-2; }
    @include responsive(mr2) { margin-right:  $space-2; }
    @include responsive(mb2) { margin-bottom: $space-2; }
    @include responsive(ml2) { margin-left:   $space-2; }
    @include responsive(mx2) { margin-left:   $space-2; margin-right: $space-2;}
    @include responsive(my2) { margin-top:    $space-2; margin-bottom: $space-2;}

    @include responsive(m3)  { margin:        $space-3; }
    @include responsive(mt3) { margin-top:    $space-3; }
    @include responsive(mr3) { margin-right:  $space-3; }
    @include responsive(mb3) { margin-bottom: $space-3; }
    @include responsive(ml3) { margin-left:   $space-3; }
    @include responsive(mx3) { margin-left:   $space-3; margin-right: $space-3;}
    @include responsive(my3) { margin-top:    $space-3; margin-bottom: $space-3;}

    @include responsive(m4)  { margin:        $space-4; }
    @include responsive(mt4) { margin-top:    $space-4; }
    @include responsive(mr4) { margin-right:  $space-4; }
    @include responsive(mb4) { margin-bottom: $space-4; }
    @include responsive(ml4) { margin-left:   $space-4; }
    @include responsive(mx4) { margin-left:   $space-4; margin-right: $space-4;}
    @include responsive(my4) { margin-top:    $space-4; margin-bottom: $space-4;}

    @include responsive(mx-auto) { margin-left: auto; margin-right: auto; }

    //Padding
    @include responsive(p0)  { padding:        0; }
    @include responsive(pt0) { padding-top:    0; }
    @include responsive(pr0) { padding-right:  0; }
    @include responsive(pb0) { padding-bottom: 0; }
    @include responsive(pl0) { padding-left:   0; }
    @include responsive(px0) { padding-left:   0; padding-right: 0;}
    @include responsive(py0) { padding-top:    0; padding-bottom: 0;}

    @include responsive(p1)  { padding:        $space-1; }
    @include responsive(pt1) { padding-top:    $space-1; }
    @include responsive(pr1) { padding-right:  $space-1; }
    @include responsive(pb1) { padding-bottom: $space-1; }
    @include responsive(pl1) { padding-left:   $space-1; }
    @include responsive(px1) { padding-left:   $space-1; padding-right: $space-1;}
    @include responsive(py1) { padding-top:    $space-1; padding-bottom: $space-1;}

    @include responsive(p2)  { padding:        $space-2; }
    @include responsive(pt2) { padding-top:    $space-2; }
    @include responsive(pr2) { padding-right:  $space-2; }
    @include responsive(pb2) { padding-bottom: $space-2; }
    @include responsive(pl2) { padding-left:   $space-2; }
    @include responsive(px2) { padding-left:   $space-2; padding-right: $space-2;}
    @include responsive(py2) { padding-top:    $space-2; padding-bottom: $space-2;}

    @include responsive(p3)  { padding:        $space-3; }
    @include responsive(pt3) { padding-top:    $space-3; }
    @include responsive(pr3) { padding-right:  $space-3; }
    @include responsive(pb3) { padding-bottom: $space-3; }
    @include responsive(pl3) { padding-left:   $space-3; }
    @include responsive(px3) { padding-left:   $space-3; padding-right: $space-3;}
    @include responsive(py3) { padding-top:    $space-3; padding-bottom: $space-3;}

    @include responsive(p4)  { padding:        $space-4; }
    @include responsive(pt4) { padding-top:    $space-4; }
    @include responsive(pr4) { padding-right:  $space-4; }
    @include responsive(pb4) { padding-bottom: $space-4; }
    @include responsive(pl4) { padding-left:   $space-4; }
    @include responsive(px4) { padding-left:   $space-4; padding-right: $space-4;}
    @include responsive(py4) { padding-top:    $space-4; padding-bottom: $space-4;}

    //Positioning

    .relative { position: relative; }
    .absolute { position: absolute; }
    .fixed    { position: fixed; }

    .z1 { z-index: 100; }
    .z2 { z-index: 200; }
    .z3 { z-index: 300; }
    .z4 { z-index: 400; }

    .t0 { top:    0; }
    .r0 { right:  0; }
    .b0 { bottom: 0; }
    .l0 { left:   0; }

    .t1 { top:    $space-1; }
    .r1 { right:  $space-1; }
    .b1 { bottom: $space-1; }
    .l1 { left:   $space-1; }

    .t2 { top:    $space-2; }
    .r2 { right:  $space-2; }
    .b2 { bottom: $space-2; }
    .l2 { left:   $space-2; }

    .t3 { top:    $space-3; }
    .r3 { right:  $space-3; }
    .b3 { bottom: $space-3; }
    .l3 { left:   $space-3; }

    .t4 { top:    $space-4; }
    .r4 { right:  $space-4; }
    .b4 { bottom: $space-4; }
    .l4 { left:   $space-4; }

    // Rounded Corners and Circles and Borders

    .rounded{
      border-radius:3px;
    }

    .circle{
      border-radius:50%;
    }

    @include responsive(border){
      border:1px solid rgba(0,0,0,.2);
    }

    @include responsive(border-top){
      border-top:1px solid rgba(0,0,0,.2);
    }

    @include responsive(border-right){
      border-right:1px solid rgba(0,0,0,.2);
    }

    @include responsive(border-bottom){
      border-bottom:1px solid rgba(0,0,0,.2);
    }

    @include responsive(border-left){
      border-left:1px solid rgba(0,0,0,.2);
    }
