//
// Variables
// --------------------------------------------------

// Config
// -------------------------

// set to false to make responsive
// mixin give only xs- versions of
// responsive classes
$generate-responsive-classes: true !default;

// Controls whether or not we use font sizing.
// See the font-smoothing mixin in _mixins.scss
$font-smoothing: true !default;

// Fonts
// -------------------------

$sans: "Proxima Nova", Helvetica, Arial, sans-serif;
$slab: "Caponi-Slab-Semibold", "Proxima Nova", Helvetica, Arial, sans-serif;

// Borders
// -------------------------

$border: 1px solid rgba(0, 0, 0, .2);
$border-lighter: 1px solid rgba(0, 0, 0, .1);
$border-radius: 3px;


// Spacing
// -------------------------

$space-05: .25rem;//  4px
$space-1: .5rem;  //  8px
$space-2:   1rem; // 16px
$space-3: 1.5rem; // 24px
$space-4:   2rem; // 32px
$space-5:   3rem; // 48px
$space-6: 4.5rem; // 72px

// Z-index
// -------------------------
$z1: 100;
$z2: 200;
$z3: 300;
$z4: 400;

// Colors
// -------------------------

// Fills
$fill-red: #e32;
$fill-red-lighter: #feebe9;
$fill-pink: #eb2649;
$fill-blue: #07e;
$fill-yellow: #fe0;
$fill-yellow-lighter: #fffab6;
$fill-green: #6fb824;
$fill-green-lighter: #f1f8e9;
$fill-orange: #f49c1a;
$fill-promoted-orange: #edb802;
$fill-gray-lighter: #f4f4f4;
$fill-gray: #aaa;
$fill-gray-darker: #222;
$fill-white: #fff;

// Social Fills
$fill-facebook: #3b5998;
$fill-twitter: #55acee;
$fill-google: #dd4b39;
$fill-linkedin: #0077b5;
$fill-pinterest: #bd081c;
$fill-tumblr: #36465d;
$fill-youtube: #cd201f;
$fill-instagram: #517fa4;
$fill-vine: #00b488;
$fill-snapchat: #fffc00;

// Type Colors
$text-white: #fff;
$text-gray: #333;
$text-gray-lighter: #666;
$text-gray-lightest: #999;
$text-red: #e32;
$text-pink: #eb2649;
$text-orange: #f49c1a;
$text-promoted-orange: #edb802;
$text-green: #6fb824;
$text-blue: #07e;

// Social Type Colors
$text-facebook: #3b5998;
$text-twitter: #55acee;
$text-google: #dd4b39;
$text-linkedin: #0077b5;
$text-pinterest: #bd081c;
$text-tumblr: #36465d;
$text-youtube: #cd201f;
$text-instagram: #517fa4;

// Typography Sizes and Weights
// -------------------------

$base-font-size: 16px;

$text-1: 1.75rem;   // 28px
$text-2: 1.375rem;  // 22px
$text-3: 1.125rem;  // 18px
$text-4: 1rem;      // 16px
$text-5: .875rem;   // 14px
$text-6: .75rem;    // 12px

$regular: 400;
$bold: 600;

// Line height
// -------------------------
// Using a unitless system for consistency.
// https://css-tricks.com/almanac/properties/l/line-height/

$line-height-1: 1.2; // set on h1-h3 and .text-1-.text-3
$line-height-2: 1.3; // set on h4-h6 and .text-4-.text-6
$line-height-3: 1.5; // default line-height set on the body

// Line heights specific to forms, buttons and tags.
$line-height-form: 1.5rem;
$line-height-form-small: 1.25rem;

// Disabled opacity for buttons, forms, pagination
$opacity-disabled: .3;

// SVG
// -------------------------
// 1. Run code through SVGO
// 2. Encode in utf8 (not base64!) for our IE friends
// https://css-tricks.com/probably-dont-base64-svg/
// https://codepen.io/tigt/post/optimizing-svgs-in-data-uris

$down-caret: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 488 285'%3E%3Cpath d='M483.11 29.381l-24.449-24.485c-2.934-2.938-7.335-4.897-11.246-4.897-3.912 0-8.313 1.959-11.246 4.897l-192.168 192.448-192.168-192.448c-2.934-2.938-7.335-4.897-11.246-4.897-4.401 0-8.313 1.959-11.246 4.897l-24.449 24.485c-2.934 2.938-4.89 7.345-4.89 11.263s1.956 8.325 4.89 11.263l227.864 228.196c2.934 2.938 7.335 4.897 11.246 4.897 3.912 0 8.313-1.959 11.246-4.897l227.864-228.196c2.934-2.938 4.89-7.345 4.89-11.263s-1.956-8.325-4.89-11.263z'/%3E%3C/svg%3E";
$checkmark: "%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M491.185 120.619l-42.818-42.818c-5.667-5.667-13.538-8.815-21.409-8.815-7.871 0-15.742 3.148-21.409 8.815l-206.534 206.849-92.563-92.877c-5.667-5.667-13.538-8.815-21.409-8.815-7.871 0-15.742 3.148-21.409 8.815l-42.818 42.818c-5.667 5.667-8.815 13.538-8.815 21.409 0 7.871 3.148 15.742 8.815 21.409l113.972 113.972 42.818 42.818c5.667 5.667 13.538 8.815 21.409 8.815 7.871 0 15.742-3.148 21.409-8.815l42.818-42.818 227.943-227.943c5.667-5.667 8.815-13.538 8.815-21.409 0-7.871-3.148-15.742-8.815-21.409z'/%3E%3C/svg%3E";
$solid-logo: "%3Csvg viewBox='0 0 100 34' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.2 8c-.3 0-.7.2-1 .5L.7 20c-.5.5-.5 1.4 0 2l11.6 10.6c.2.2.6.3 1 .3.2 0 .6-.2.8-.5L24.7 21c.5-.6.5-1.4 0-2L13 8.5c0-.2-.4-.4-.8-.4' opacity='.9' fill='%2307e'/%3E%3Cpath d='M23.2 0H23L7.5 3.4c-.8 0-1.2.8-1 1.6L10 20.3c0 .6.6 1 1.2 1h.3L27 18c.6-.2 1-1 1-1.6L24.4 1c0-.6-.7-1-1.3-1' opacity='.9' fill='%23fe0'/%3E%3Cpath d='M23.2 6.5c-.4 0-.7.2-1 .5l-8.5 12c-.4.5-.3 1.3.3 1.7l12.3 8.7c.2.2.4.3.7.3.4 0 .8-.2 1-.5l8.5-12c.4-.5.3-1.3-.3-1.7L24 6.8c-.3-.2-.5-.3-.8-.3' opacity='.9' fill='%23e32'/%3E%3Cpath d='M50.4 25.7c5 0 7.2-2.6 7.2-5.8 0-7-11-5-11-8.4 0-1.4 1.4-2.3 3.3-2.3 2 0 4 .7 5.3 2l2-2.3c-1.8-1.7-4.2-2.6-7-2.6-4.2 0-7 2.4-7 5.5 0 6.8 11 4.3 11 8.2 0 1.3-1 2.6-3.8 2.6-2.6 0-4.6-1.2-6-2.6L43 22.7c1.6 1.8 4 3 7.6 3zm15.6 0c4.4 0 7-3.2 7-7 0-4-2.6-7.2-7-7.2-4.3 0-7 3.2-7 7 0 4 2.7 7.2 7 7.2zm0-2.6c-2.5 0-4-2-4-4.4 0-2.4 1.5-4.5 4-4.5 2.6 0 4 2.2 4 4.6 0 2.4-1.4 4.5-4 4.5zm12.3 2.4V6.7h-3v18.7h3zm4.4-15.2c1 0 1.8-.8 1.8-2 0-1-.8-1.7-1.8-1.7S81 7.3 81 8.3s.7 2 1.7 2zm1.5 15.2V11.8h-3v13.6h3zm15.6 0V6.7h-3v7c-1-1.4-2.6-2.2-4.3-2.2-3.5 0-6 2.7-6 7 0 4.6 2.6 7.2 6 7.2 1.8 0 3.3-.8 4.4-2.2v2h2.8zM93.4 23c-2.4 0-3.8-1.8-3.8-4.4 0-2.6 1.4-4.5 3.8-4.5 1.4 0 2.8 1 3.5 2v5.3c-.8 1-2.2 1.8-3.6 1.8z' fill='%23333'/%3E%3C/svg%3E";
$close-icon: "%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M256 303L68.5 490.2c-13 13-33.8 13-46.8 0s-13-34 0-46.8L209 256 21.8 68.5c-13-13-13-33.8 0-46.8s34-13 46.8 0L256 209 443.5 21.8c13-13 33.8-13 46.8 0s13 34 0 46.8L303 256l187.3 187.5c13 13 13 33.8 0 46.8s-34 13-46.8 0L256 303z'/%3E%3C/svg%3E";
$close-icon--thick: "%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M165 258L50 139.3c-25.6-25.6-25.6-63.5 0-89 25.6-25.7 63.5-25.7 89 0L254 164.8 368.6 50c25.6-25.6 68-25.6 93.2 0 25.6 25.6 25.6 68 0 93.2L347 258 462 372.7c25.6 25.6 25.6 63.5 0 89-25.6 25.7-63.5 25.7-89 0L258 347.2 143.4 462c-25.6 25.6-68 25.6-93.2 0-25.6-25.6-25.6-68 0-93.2L165 258z' fill='%234A4A4A' fill-rule='evenodd'/%3E%3C/svg%3E";
$close-icon--light: "%3Csvg viewBox='0 0 450 450' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M134 227L19 108.3c-25.6-25.6-25.6-63.5 0-89 25.6-25.7 63.5-25.7 89 0L223 133.8 337.6 19c25.6-25.6 68-25.6 93.2 0 25.6 25.6 25.6 68 0 93.2L316 227 431 341.7c25.6 25.6 25.6 63.5 0 89-25.6 25.7-63.5 25.7-89 0L227 316.2 112.4 431c-25.6 25.6-68 25.6-93.2 0-25.6-25.6-25.6-68 0-93.2L134 227z' fill='%23B3B3B3' fill-rule='evenodd'/%3E%3C/svg%3E";

// @TODO Remove in 3.0
$exclamation-circle: "%3Csvg viewBox='0 0 488 488' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M244 0C109.3 0 0 109.3 0 244s109.3 244 244 244 244-109.3 244-244S378.7 0 244 0zm40.7 396.2c0 5.7-4.5 10.5-10 10.5h-61c-5.6 0-10.4-4.8-10.4-10.5v-60.4c0-5.7 4.8-10.5 10.5-10.5h61c5.4 0 10 4.8 10 10.5v60.4zM284 287c-.3 4.3-5 7.8-10.8 7.8h-58.7c-6 0-10.8-3.5-10.8-8l-5.4-197.2c0-2.2 1-4.5 3-5.7 2-1.7 5-2.7 7.8-2.7h70c2.8 0 5.7 1 7.6 2.6 2.2 1 3.2 3.4 3.2 5.6L284 287z' fill='%23e32'/%3E%3C/svg%3E";
