# ignore sass/scss tmp files
.sass-cache

# ignore generated css
.sass-cache/

# ignore temporary assets
.tmp/
.idea/

# ignore node modules
node_modules/
npm-debug.log

# ignore weird image filesystem crap
.DS_Store

# ignore generated solid files
dist/
