# ignore sass/scss tmp files
.sass-cache

# ignore generated css
.sass-cache/

# ignore generated site
docs/.tmp/

# ignore temporary assets
.tmp/

# ignore node modules
node_modules/

# ignore weird image filesystem crap
.DS_Store

# ignore ruby gems
.bundle/
