# ignore sass/scss tmp files
.sass-cache

# ignore generated css
*.css.map
*.css

# ignore generated site
_site/
_deploy/

# ignore compiled dist files
dist/

# ignore node modules
node_modules/

# ignore weird image filesystem crap
.DS_Store
