<!DOCTYPE html>
<html style="height:100%;">
  <head>
    <title>Solid - Ingredients for Waffles and the Web</title>
    <link rel="stylesheet" type="text/css" href="/scss/base.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/tomorrow.min.css">
  </head>
  <body style="height:100%;">
    <div class="page-container">
      <%- partial("_header") %>

      <div class="row">
        <%- partial("_nav") %>

        <div class="main-content col-9 float-left">
          <%- yield %>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
    <script src="/javascript/codehighlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
