<!DOCTYPE html>
<html>
  <head>
    <title>Solid - Ingredients for Waffles and the Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/scss/base.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/github.min.css">
  </head>
  <body>
    <%- partial("_nav") %>
    <div class="col xs-col-12 sm-col-9 md-col-10 sm-offset-3 md-offset-2">
      <div class="col xs-col-12 xs-p2 sm-col-10 sm-offset-1">
        <h1 class="border-bottom py2 mb4 xs-hide sm-show"><%= title %></h1>
        <%- yield %>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
    <script src="/javascript/codehighlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript">
    <!--
        function toggle_visibility(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
        }
    //-->
    </script>
  </body>
</html>
