<!DOCTYPE html>
<html style="height:100%;">
  <head>
    <title>Solid - Ingredients for Waffles and the Web</title>
    <link rel="stylesheet" type="text/css" href="/scss/base.css">
  </head>
  <body style="height:100%;">
    <%- partial("_header") %>
    <%- partial("_nav") %>
    <%- yield %>
  </body>
</html>