<!DOCTYPE html>
<html>
  <head>
    <title>Pantry - Ingredients for Waffles and the Web</title>
    <link rel="stylesheet" type="text/css" href="/scss/base.css">
  </head>
  <body>
    <%- partial("_header") %>
    <%- partial("_nav") %>
    <%- yield %>
  </body>
</html>