<!DOCTYPE html>
<html>
<head>
	<title>Pantry - Ingredients for Waffles and the Web</title>
	<link rel="stylesheet" type="text/css" href="scss/base.css">
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <%- partial("_header") %>
	<h1>Hello World</h1>
</body>
</html>