<section class="xs-mb4 xs-pb2">

  <h2 class="bold xs-mb1">What is Solid?</h2>

  <p>Solid is BuzzFeed's CSS and component library. Influenced by frameworks like <a href="http://www.basscss.com/">Basscss</a>, Solid uses atomic CSS classes to both rapidly prototype and develop features, providing consistent styling options, but also the flexibility to create new layout and designs without the need to write more CSS. At the same time, we've identifed and documented a number of globally-resuable HTML and CSS components to help new apps spin up quickly without having to reinvent the wheel each time.</p>

</section>

<section class="xs-mb4">

  <h2 class="bold xs-mb1">Release Notes</h2>
  <p class="xs-mb2">A summary of Solid releases can also be found on <a href="https://github.com/buzzfeed/solid/releases">Github.</a></p>

  <div class="release--container clearfix xs-col-12 lg-col-9 xs-mb2 xs-pb1 xs-pt2 xs-border-top--lighter">

    <div class="release clearfix xs-mb2 xs-pb1 xs-border-bottom--lighter">

      <div class="col xs-col-2 lg-col-1 text-gray--lightest">
        1.0.3
      </div>

      <div class="col xs-col-10 lg-col-11">
        <h4 class="bold xs-mb1">In Development</h4>
        <ul>
          <li class="xs-mb1">Rewritten Typography, Colors, Buttons, Forms, Messaging and Tables documentation.</li>
          <li class="xs-mb1">Button documentation reflects CSS implementation.</li>
          <li class="xs-mb1"><b class="text-red">Breaking Change:</b> Segmented Buttons are now Button Groups. CSS now reflects other button CSS.</li>
          <li class="xs-mb1">Radio input and checkbox CSS are now implemented the same way.</li>
          <li class="xs-mb1">Added a $space-5 and $space-6 variable to all spacing classes.</li>
        </ul>
      </div>

    </div> <!-- /.release -->
    
    <div class="release clearfix xs-mb2 xs-pb1 xs-border-bottom--lighter">

      <div class="col xs-col-2 lg-col-1 text-gray--lightest">
        1.0.2
      </div>

      <div class="col xs-col-10 lg-col-11">
        <h4 class="bold"><a href="https://github.com/buzzfeed/solid/releases/tag/1.0.2">Fix Typos, Inconsistencies in docs</a></h4>
        <p class="xs-mb1 text-5 text-gray--lightest">August 11, 2015</p>
        <ul>
          <li class="xs-mb1">Added bower.json for your convenience</li>
          <li class="xs-mb1">Solid logo is visible in docs</li>
          <li class="xs-mb1">No more responsive prefixes on type size classes</li>
          <li class="xs-mb1">Responsive prefixes re-added on floats</li>
          <li class="xs-mb1">Various typos and inconsistencies resolved in docs</li>
        </ul>
      </div>

    </div> <!-- /.release -->

    <div class="release clearfix xs-mb2 xs-pb1 xs-border-bottom--lighter">

      <div class="col xs-col-2 lg-col-1 text-gray--lightest">
        1.0.1
      </div>

      <div class="col xs-col-10 lg-col-11">
        <h4 class="bold"><a href="https://github.com/buzzfeed/solid/releases/tag/1.0.1">Fix bad pruning in package.json</a></h4>
        <p class="xs-mb1 text-5 text-gray--lightest">July 30, 2015</p>
        <ul>
          <li class="xs-mb1">Merge pull request #195 from buzzfeed/fix-npm-package</li>
          <li class="xs-mb1">fix dev dependencies so that make dev does not prune harp</li>
        </ul>
      </div>

    </div> <!-- /.release -->

    <div class="release clearfix xs-mb2">

      <div class="col xs-col-2 lg-col-1 text-gray--lightest">
        1.0
      </div>

      <div class="col xs-col-10 lg-col-11">
        <h4 class="bold"><a href="https://github.com/buzzfeed/solid/releases/tag/1.0">Solid 1.0</a></h4>
        <p class="xs-mb1 text-5 text-gray--lightest">July 31, 2015</p>
        <ul>
          <li class="xs-mb1">Solid now has a package.json and instructions on how to integrate this framework into YOUR project.</li>
        </ul>
      </div>

    </div> <!-- /.release -->

  </div> <!-- /.release--container -->

</section>
