<h1 class="bold mb4">Welcome</h1>

<section class="mb4">

<div class="row col-12 clearfix mb4"> <!--  Should remove .row when grids are refactored  -->
    <h3 class="bold mb1">What is Solid?</h3>
    <p>Great question! Solid is a set of styles and utility classes for building BuzzFeed. It is based on <a href="http://www.smashingmagazine.com/2011/12/12/an-introduction-to-object-oriented-css-oocss/">OOCSS</a> frameworks and is meant to increase the speed of front-end development, enable rapid prototyping and promote design consistency across the site.</p>
</div>

</section>

<section class="mb4 pt4">

<div class="row col-12 clearfix"> <!--  Should remove .row when grids are refactored  -->
  <div class="col-8">
    <h3 class="bold mb1">Help and more information</h3>
  </div>
</div>

<div class="row col-12 clearfix mb4"> <!--  Should remove .row when grids are refactored  -->
  <div class="col-2 text-center pr3">
      <a href="https://buzzfeed.slack.com/messages/solid/">
          <img src="./images/index-slack.png" class="fit half-width"/>
          <h4 class="bold mb1">#solid on Slack</h4>
      </a>
      <p>Quick questions & responses</p>
  </div>
  <div class="col-2 text-center pr3">
      <a href="https://basecamp.com/1767593/projects/8258224">
          <img src="./images/index-basecamp.png" class="fit half-width"/>
          <h4 class="bold mb1">On Basecamp</h4>
      </a>
      <p>Design comps & discussion</p>
  </div>
  <div class="col-2 text-center pr3">
      <a href="https://github.com/buzzfeed/solid/issues">
          <img src="./images/index-github.png" class="fit half-width"/>
          <h4 class="bold mb1">On GitHub</h4>
      </a>
      <p>File issues & contribute</p>
  </div>
  <div class="col-2 text-center pr3">
      <a href="#">
          <img src="./images/index-mail.png" class="fit half-width"/>
          <h4 class="bold mb1">Email the group</h4>
      </a>
      <p>Send to: solid@buzzfeed.com</p>
  </div>
</div>

</section>

<section class="mb4 pt4">

<div class="row col-12 clearfix"> <!--  Should remove .row when grids are refactored  -->
  <div class="col-8">
    <h3 class="bold mb1">Who is making Solid?</h3>
  </div>
</div>

<div class="row col-12 clearfix mb3 team"> <!--  Should remove .row when grids are refactored  -->
    
    <div class="col-1 text-center pr3">
        <a href="https://github.com/emilybrick">
            <img src="./images/contributor-emily.jpg" class="fit circle"/>
            <h6>Emily Brick</h6>
        </a>
    </div>
    <div class="col-1 text-center pr3">
        <a href="https://github.com/allisonchefec">
            <img src="./images/contributor-allison.jpg" class="fit circle"/>
            <h6>Allison Chefec</h6>
        </a>
    </div>
    <div class="col-1 text-center pr3">
        <a href="https://github.com/medun">
            <img src="./images/contributor-elaine.jpg" class="fit circle"/>
            <h6>Elaine Dunlap</h6>
        </a>
    </div>
    <div class="col-1 text-center pr3">
        <a href="https://github.com/niederme">
            <img src="./images/contributor-john.jpg" class="fit circle"/>
            <h6>John Niedermeyer</h6>
        </a>
    </div>
    <div class="col-1 text-center pr3">
        <a href="https://github.com/finn">
            <img src="./images/contributor-finn.jpg" class="fit circle"/>
            <h6>Finn Smith</h6>
        </a>
    </div>
    <div class="col-1 text-center pr3">
        <a href="https://github.com/samthurman">
            <img src="./images/contributor-sam.jpg" class="fit circle"/>
            <h6>Sam Thurman</h6>
        </a>
    </div>
    <div class="col-1 text-center pr3">
        <a href="https://github.com/capwatkin">
            <img src="./images/contributor-cap.jpg" class="fit circle"/>
            <h6>Cap Watkins</h6>
        </a>
    </div>
    
</div>

</section>

<section class="mb4 pt4">

<div class="row col-12 clearfix"> <!--  Should remove .row when grids are refactored  -->
  <div class="col-8">
    <h3 class="bold mb1">Examples of Solid in action</h3>
    <p>Coming soon!</p>
  </div>
</div>

</section>