<div class="page-container">
    
  <h1 class="bold mb4">Welcome to BuzzFeed Solid</h1>
  
  <section class="mb4">
  
    <div class="row col-12 clearfix mb4"> <!--  Should remove .row when grids are refactored  -->
      <div class="col-8">
        <h3 class="bold mb1">What is Solid?</h3>
        <p>Great question! Solid is a set of styles and utility classes for building BuzzFeed. It is based on <a href="http://www.smashingmagazine.com/2011/12/12/an-introduction-to-object-oriented-css-oocss/">OOCSS</a> frameworks and is meant to increase the speed of front-end development, enable rapid prototyping and promote design consistency across the site.</p>
      </div>
      <div class="col-8">
          
      </div>
    </div>
    
  </section>

  <section class="mb4">
    
    <div class="row col-12 clearfix"> <!--  Should remove .row when grids are refactored  -->
      <div class="col-8">
        <h3 class="bold mb1">How do I get help?</h3>
      </div>
    </div>
    
    <div class="row col-12 clearfix mb4"> <!--  Should remove .row when grids are refactored  -->
      <div class="col-2 text-center pr3">
          <a href="https://buzzfeed.slack.com/messages/solid/">
              <img src="./images/index-slack.png" class="fit"/>
              <h4 class="bold mb1">#solid on Slack</h4>
          </a>
          <p>For quick questions</p>
      </div>
      <div class="col-2 text-center pr3">
          <a href="https://basecamp.com/1767593/projects/8258224">
              <img src="./images/index-basecamp.png" class="fit"/>
              <h4 class="bold mb1">On Basecamp</h4>
          </a>
          <p>Design comps and discussion</p>
      </div>
      <div class="col-2 text-center pr3">
          <a href="#">
              <img src="./images/index-github.png" class="fit"/>
              <h4 class="bold mb1">Issues on GitHub</h4>
          </a>
          <p>Contribute and file issues</p>
      </div>
      <div class="col-2 text-center pr3">
          <a href="#">
              <img src="./images/index-mail.png" class="fit"/>
              <h4 class="bold mb1">Email the group</h4>
          </a>
          <p>An easy way to reach the group</p>
      </div>
    </div>
  
  </section>

  <section class="mb4">
    
    <div class="row col-12 clearfix"> <!--  Should remove .row when grids are refactored  -->
      <div class="col-8">
        <h3 class="bold mb1">Who is making Solid?</h3>
      </div>
    </div>
  
</div>