<section class="clearfix mb4">
    
    <h3 class="bold mb1">What is Solid?</h3>
    <p>Great question! Solid is a set of styles and utility classes for building BuzzFeed. It is based on <a href="http://www.smashingmagazine.com/2011/12/12/an-introduction-to-object-oriented-css-oocss/">OOCSS</a> frameworks and is meant to increase the speed of front-end development, enable rapid prototyping and promote design consistency across the site.</p>

</section>


<section class="clearfix mb4">
    
  <h3 class="bold mb2">Find help and learn more</h3>
    
    <div class="clearfix mb4 find-help">
        <a class="col xs-col-12 sm-col-6 md-col-4 lg-col-2 text-center rounded p1 pb2" href="https://buzzfeed.slack.com/messages/solid/">
            <img src="./images/index-slack.png" class="fit half-width"/>
            <h4 class="bold decoration-underline mb1">#solid on Slack</h4>
            <p class="type-5 text-gray">Quick questions &amp; responses</p>
        </a>
        <a class="col xs-col-12 sm-col-6 md-col-4 lg-col-2 text-center rounded p1 pb2" href="https://basecamp.com/1767593/projects/8258224">
            <img src="./images/index-basecamp.png" class="fit half-width"/>
            <h4 class="bold decoration-underline mb1">Basecamp</h4>
            <p class="type-5 text-gray">Design comps &amp; discussion</p>
        </a>
        <a class="col xs-col-12 sm-col-6 md-col-4 lg-col-2 text-center rounded p1 pb2" href="https://buzzfeed.atlassian.net/projects/SOLID/issues">
            <img src="./images/index-jira.png" class="fit half-width"/>
            <h4 class="bold decoration-underline mb1">JIRA</h4>
            <p class="type-5 text-gray">File issues &amp; check progress</p>
        </a>
        <a class="col xs-col-12 sm-col-6 md-col-4 lg-col-2 text-center rounded p1 pb2" href="https://github.com/buzzfeed/solid/issues">
            <img src="./images/index-github.png" class="fit half-width"/>
            <h4 class="bold decoration-underline mb1">GitHub</h4>
            <p class="type-5 text-gray">Fork &amp; contribute</p>
        </a>
        <a class="col xs-col-12 sm-col-6 md-col-4 lg-col-2 text-center rounded p1 pb2" href="#">
            <img src="./images/index-mail.png" class="fit half-width"/>
            <h4 class="bold decoration-underline mb1">Email the group</h4>
            <p class="type-5 text-gray">Send to: solid@ alias</p>
        </a>
    </div>
    
</section>

<section class="mb4">
    
  <h3 class="bold mb3">Solid contributors</h3>

  <div class="clearfix gutters mb2">
      
    <div class="col xs-col-4 sm-col-3 md-col-2 lg-col-1 mb2">
      <a href="https://github.com/emilybrick">
          <img src="./images/contributor-emily.jpg" class="fit circle" title="Emily Brick"/>
      </a>
    </div>
    <div class="col xs-col-4 sm-col-3 md-col-2 lg-col-1 mb2">
      <a href="https://github.com/allisonchefec">
          <img src="./images/contributor-allison.jpg" class="fit circle" title="Allison Chefec"/>
      </a>
    </div>
    <div class="col xs-col-4 sm-col-3 md-col-2 lg-col-1 mb2">
      <a href="https://github.com/medun">
          <img src="./images/contributor-elaine.jpg" class="fit circle" title="Elaine Dunlap"/>
      </a>
    </div>
    <div class="col xs-col-4 sm-col-3 md-col-2 lg-col-1 mb2">
      <a href="https://github.com/erakor">
          <img src="./images/contributor-amaury.jpg" class="fit circle" title="Amaury Moulron"/>
      </a>
    </div>
    <div class="col xs-col-4 sm-col-3 md-col-2 lg-col-1 mb2">
      <a href="https://github.com/niederme">
          <img src="./images/contributor-john.jpg" class="fit circle" title="John Niedermeyer"/>
      </a>
    </div>
    <div class="col xs-col-4 sm-col-3 md-col-2 lg-col-1 mb2">
      <a href="https://github.com/mshuster">
          <img src="./images/contributor-mark.jpg" class="fit circle" title="Mark Shuster"/>
      </a>
    </div>
    <div class="col xs-col-4 sm-col-3 md-col-2 lg-col-1 mb2">
      <a href="https://github.com/samthurman">
          <img src="./images/contributor-sam.jpg" class="fit circle" title="Sam Thurman"/>
      </a>
    </div>
    <div class="col xs-col-4 sm-col-3 md-col-2 lg-col-1 mb2">
      <a href="https://github.com/capwatkins">
          <img src="./images/contributor-cap.jpg" class="fit circle" title="Cap Watkins"/>
      </a>
    </div>
      
  </div>

</section>


<section class="mb4">
    
  <h3 class="bold mb2">How you can contribute</h3>
  <p>Solid is a living framework for all basic BuzzFeed styling and we want everyone to pitch in. To get started, reach out to the team using one of the contact methods above, and read our <a href="https://github.com/buzzfeed/solid/blob/master/CONTRIBUTING.md">guidelines for contributing</a>.</p>

</section>


<section class="mb4">
 
  <h3 class="bold mb2">Examples of Solid in action</h3>
  <p>Coming soon, but check out the <a href="./sandbox/">Sandbox</a> for prototypes and other explorations.</p>
    
</section>