<section class="clearfix xs-col-12 lg-col-9 xs-mb4">

  <h3 class="bold xs-mb1">What is Solid?</h3>
  <p>Great question! Solid is a set of styles and utility classes for building BuzzFeed. It is based on <a href="http://www.smashingmagazine.com/2011/12/12/an-introduction-to-object-oriented-css-oocss/">OOCSS</a> frameworks and is meant to increase the speed of front-end development, enable rapid prototyping and promote design consistency across the site.</p>

</section>


<section class="clearfix xs-col-12 lg-col-10 xs-mb2">

  <h3 class="bold xs-mb1">Find help and learn more</h3>

  <ul class="clearfix block-grid xs-block-grid-2 sm-block-grid-3 lg-block-grid-5 xs-mb2 find-help">
      <li class="xs-p1 xs-pb2 block-grid-item">
        <a class="col xs-text-center rounded" href="https://buzzfeed.slack.com/messages/solid/">
            <img src="./images/index-slack.png" class="xs-fit xs-half-width"/>
            <h4 class="bold decoration-underline xs-mb1">#solid on Slack</h4>
            <p class="text-5 text-gray">Quick questions &amp; responses</p>
        </a>
      </li>
      <li class="xs-p1 xs-pb2 block-grid-item">
        <a class="col xs-text-center rounded" href="https://basecamp.com/1767593/projects/8258224">
            <img src="./images/index-basecamp.png" class="xs-fit xs-half-width"/>
            <h4 class="bold decoration-underline xs-mb1">Basecamp</h4>
            <p class="text-5 text-gray">Design comps &amp; discussion</p>
        </a>
      </li>
      <li class="xs-p1 xs-pb2 block-grid-item">
        <a class="col xs-text-center rounded" href="https://buzzfeed.atlassian.net/projects/SOLID/issues">
            <img src="./images/index-jira.png" class="xs-fit xs-half-width"/>
            <h4 class="bold decoration-underline xs-mb1">JIRA</h4>
            <p class="text-5 text-gray">File issues &amp; check progress</p>
        </a>
      </li>
      <li class="xs-p1 xs-pb2 block-grid-item">
        <a class="col xs-text-center rounded" href="https://github.com/buzzfeed/solid/issues">
            <img src="./images/index-github.png" class="xs-fit xs-half-width"/>
            <h4 class="bold decoration-underline xs-mb1">GitHub</h4>
            <p class="text-5 text-gray">Fork &amp; contribute</p>
        </a>
      </li>
      <li class="xs-p1 xs-pb2 block-grid-item">
        <a class="col xs-text-center rounded" href="mailto:solid@buzzfeed.com?subject=Solid Feedback: <TYPE SUBJECT HERE>">
            <img src="./images/index-mail.png" class="xs-fit xs-half-width"/>
            <h4 class="bold decoration-underline xs-mb1">Email the group</h4>
            <p class="text-5 text-gray">Send to: solid@ alias</p>
        </a>
      </li>
  </ul>

</section>

<section class="xs-col-12 xs-mb2">

  <h3 class="bold xs-mb2">Solid contributors</h3>

  <ul class="clearfix list-unstyled gutters">

    <li class="col xs-col-3 sm-col-2 lg-col-1 xs-mb2">
      <a href="https://github.com/emilybrick">
          <img src="./images/contributor-emily.jpg" class="xs-fit circle" title="Emily Brick"/>
      </a>
    </li>
    <li class="col xs-col-3 sm-col-2 lg-col-1 xs-mb2">
      <a href="https://github.com/allisonchefec">
          <img src="./images/contributor-allison.jpg" class="xs-fit circle" title="Allison Chefec"/>
      </a>
    </li>
    <li class="col xs-col-3 sm-col-2 lg-col-1 xs-mb2">
      <a href="https://github.com/medun">
          <img src="./images/contributor-elaine.jpg" class="xs-fit circle" title="Elaine Dunlap"/>
      </a>
    </li>
    <li class="col xs-col-3 sm-col-2 lg-col-1 xs-mb2">
      <a href="https://github.com/erakor">
          <img src="./images/contributor-amaury.jpg" class="xs-fit circle" title="Amaury Moulron"/>
      </a>
    </li>
    <li class="col xs-col-3 sm-col-2 lg-col-1 xs-mb2">
      <a href="https://github.com/niederme">
          <img src="./images/contributor-john.jpg" class="xs-fit circle" title="John Niedermeyer"/>
      </a>
    </li>
    <li class="col xs-col-3 sm-col-2 lg-col-1 xs-mb2">
      <a href="https://github.com/mshuster">
          <img src="./images/contributor-mark.jpg" class="xs-fit circle" title="Mark Shuster"/>
      </a>
    </li>
    <li class="col xs-col-3 sm-col-2 lg-col-1 xs-mb2">
      <a href="https://github.com/samthurman">
          <img src="./images/contributor-sam.jpg" class="xs-fit circle" title="Sam Thurman"/>
      </a>
    </li>
    <li class="col xs-col-3 sm-col-2 lg-col-1 xs-mb2">
      <a href="https://github.com/capwatkins">
          <img src="./images/contributor-cap.jpg" class="xs-fit circle" title="Cap Watkins"/>
      </a>
    </li>

  </ul>

</section>


<section class="xs-col-12 lg-col-9 xs-mb4">

  <h3 class="bold xs-mb1">How you can contribute</h3>
  <p>Solid is a living framework for all basic BuzzFeed styling and we want everyone to pitch in. To get started, reach out to the team using one of the contact methods above, and read our <a href="https://github.com/buzzfeed/solid/blob/master/CONTRIBUTING.md">guidelines for contributing</a>.</p>

</section>


<section class="xs-col-12 lg-col-9 xs-mb4">

  <h3 class="bold xs-mb1">Examples of Solid in action</h3>
  <p>Coming soon, but check out the <a href="./sandbox/">Sandbox</a> for prototypes and other explorations.</p>

</section>


<section class="xs-col-12 xs-mb4">

  <h3 class="bold xs-mb1">Release Notes</h3>
  <p class="xs-mb2">A summary of Solid releases can also be found on <a href="https://github.com/buzzfeed/solid/releases">Github.</a></p>

  <div class="release--container clearfix col xs-col-12 lg-col-9 xs-mb2 xs-pb1 xs-pt2 xs-border-top--lighter">
    
    <div class="release clearfix xs-mb2 xs-pb1 xs-border-bottom--lighter">

      <div class="col xs-col-2 lg-col-1 text-gray--lightest">
        1.0.2
      </div>

      <div class="col xs-col-10 lg-col-11">
        <h4 class="bold mb1"><a href="https://github.com/buzzfeed/solid/releases/tag/1.0.2">Fix Typos, Inconsistencies in docs</a></h4>
        <p class="xs-mb1 text-5 text-gray--lightest">August 11, 2015</p>
        <ul>
          <li class="xs-mb1">Added bower.json for your convenience</li>
          <li class="xs-mb1">Solid logo is visible in docs</li>
          <li class="xs-mb1">No more responsive prefixes on type size classes</li>
          <li class="xs-mb1">Responsive prefixes re-added on floats</li>
          <li class="xs-mb1">Various typos and inconsistencies resolved in docs</li>
        </ul>
      </div>

    </div> <!-- /.release -->

    <div class="release clearfix xs-mb2 xs-pb1 xs-border-bottom--lighter">

      <div class="col xs-col-2 lg-col-1 text-gray--lightest">
        1.0.1
      </div>

      <div class="col xs-col-10 lg-col-11">
        <h4 class="bold mb1"><a href="https://github.com/buzzfeed/solid/releases/tag/1.0.1">Fix bad pruning in package.json</a></h4>
        <p class="xs-mb1 text-5 text-gray--lightest">July 30, 2015</p>
        <ul>
          <li class="xs-mb1">Merge pull request #195 from buzzfeed/fix-npm-package</li>
          <li class="xs-mb1">fix dev dependencies so that make dev does not prune harp</li>
        </ul>
      </div>

    </div> <!-- /.release -->

    <div class="release clearfix xs-mb2">

      <div class="col xs-col-2 lg-col-1 text-gray--lightest">
        1.0
      </div>

      <div class="col xs-col-10 lg-col-11">
        <h4 class="bold mb1"><a href="https://github.com/buzzfeed/solid/releases/tag/1.0">Solid 1.0</a></h4>
        <p class="xs-mb1 text-5 text-gray--lightest">July 31, 2015</p>
        <ul>
          <li class="xs-mb1">Solid now has a package.json and instructions on how to integrate this framework into YOUR project.</li>
        </ul>
      </div>

    </div> <!-- /.release -->

  </div> <!-- /.release--container -->

</section>
