<div class="page-container">
  
  <h1 class="bold mb3">Welcome to Solid</h1>
  
  <section class="mb3">
  
    <div class="row col-12 clearfix mb3"> <!--  Should remove .row when grids are refactored  -->
      <div class="col-6">
        <h3 class="bold mb1">What is Solid?</h3>
        <p>Great question! Solid is a set of styles and utility classes for building BuzzFeed. It is based on <a href="http://www.smashingmagazine.com/2011/12/12/an-introduction-to-object-oriented-css-oocss/">OOCSS</a> frameworks and is meant to increase the speed of front-end development, enable rapid prototyping and promote design consistency across the site.</p>
      </div>
      <div class="col-6">
          
      </div>
    </div>
    <div class="row col-12 clearfix mb3"> <!--  Should remove .row when grids are refactored  -->
      <div class="col-2 text-center pr3">
          <a href="https://buzzfeed.slack.com/messages/solid/">
              <img src="./images/index-slack.png" class="fit"/>
              #solid on Slack
          </a>
      </div>
      <div class="col-2 text-center pr3">
          <a href="#">
              <img src="./images/index-basecamp.png" class="fit"/>
              Basecamp Project
          </a>
      </div>
      <div class="col-2 text-center pr3">
          <a href="#">
              <img src="./images/index-mail.png" class="fit"/>
              Email Group
          </a>
      </div>
    </div>
  
  </section>
  
</div>