<!DOCTYPE html>
<html>
<head>
  <title>Pantry - Ingredients for Waffles and the Web</title>
  <link rel="stylesheet" type="text/css" href="scss/base.css">
</head>
<body>
  <section class="p2 float-left" style="width:85%">
    <h2>Solid FAQ</h2>
    <h3>What is Solid?</h3>
    <p>Great question! Solid is a set of styles and utility classes for building BuzzFeed. It is based on OOCSS frameworks and is meant to increase the speed of front-end development, enable rapid prototyping and promote design consistency across the site.</p>
  </section>
</body>
</html>