<!DOCTYPE html>
<html>
<head>
  <title>Pantry - Ingredients for Waffles and the Web</title>
  <link rel="stylesheet" type="text/css" href="scss/base.css">
</head>
<body>
<body>
  <%- partial("_header") %>
  <h1>This is all the typography, we're done now</h1>
</body>
</body>
</html>