/*
  Solid is BuzzFeed's CSS style guide.
  solid.buzzfeed.com
*/

$solid-lite: true;
$solid-lite-buttons: true;
$generate-responsive-classes: true;
$include-deprecated: false;
$social-buttons: facebook twitter google;

/* 1: SOLID HELPERS */
@import "solid-helpers";

/* 1: SOLID BASE */
@import "solid-base";

/* 1: SOLID UTILITIES */
@import "solid-utilities";

/* 1: SOLID COMPONENTS */
@import "solid-components";
