<html>
  <head>
    <title>Sandbox Example 2</title>
    <link rel="stylesheet" type="text/css" href="/lib/solid.css">
  </head>
  <body>

    <div class="xs-p4">
      <h1 class="xs-my1">This is a real h1</h1>
      <h1 class="xs-my1 text-4">This is an h1 disguised as an h4.</h1>
      <h4 class="xs-my1 text-1">This is an h4 disguised as an h1</h4>

      <p class="xs-my1 regular">Hello there</p>
      <p class="xs-my1 bold">This is bold!<span class="regular"> But this is not bold obvs</span></p>
      <p class="xs-my1 italic">I am fancy</p>
      <p class="xs-my1"><em>I am fancier</em></p>
      <p class="xs-my1"><strong>I am loud loud loud</strong></p>
      <p class="xs-my1 caps">I am loud</p>

      <p class="xs-my1 nowrap overflow-hidden">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>

        
      <div class="xs-my1 xs-text-left md-text-center">Hell oh yes hello!</div>

      <h1 class="xs-my1 slab">This is a serious font!</h1>
      <h2 class="xs-my1 text-3 slab">This gives you an h2 styled like an h3 in Caponi</h2>
      <h6 class="xs-my1 slab xs-mt2">This won't work</h6>

      <a class="xs-my1" href="#">It's blue!</a>

      <div class="xs-my1 xs-p4 fill-yellow text-green">Hello there</div>

      <a href="#" class="xs-my1 text-gray">NOT a blue link</a>

      <div class="xs-my1 xs-block">
      <a href="#" class="xs-my1 button button--primary">Go to this page!</a>
      <a href="#" class="xs-my1 button button--secondary button--small">Cancel</a>
      </div>

      <label class="form-label">Your name</label>
      <input type="text" placeholder="whatever!" class="text-input">
      <button class="button button--primary">Add</button>
      <button class="button button--secondary">Esc</button>

    </div>

  </body>
</html>
