<!-- This is just an example. Include this wrapper into your prototype templates to get started -->
<!DOCTYPE html>
<html>
  <head>
    <title>Sandbox Example</title>
    <link rel="stylesheet" type="text/css" href="/lib/solid.css">
  </head>
  <body>
    <div class="col xs-col-12 xs-p3">
      <h1>An example prototype!</h1>
    </div>
  </body>
</html>
