<!-- This is just an example. Include this wrapper into your prototype templates to get started -->
<!DOCTYPE html>
<html>
  <head>
    <title>Sandbox Example</title>
    <link rel="stylesheet" type="text/css" href="/lib/solid.css">
  </head>
  <body>
    <div class="col xs-col-12 md-col-4 xs-p3 rounded border">
      This is my thing
    </div>
  </body>
</html>
