<!DOCTYPE html>
<html>
  <head>
    <title>BuzzFeed Hive | Create new asset</title>
    <link rel="stylesheet" type="text/css" href="/scss/base.css">
    <link rel="stylesheet" type="text/css" href="/scss/prototypes/hive.css">
  </head>
  <body class="prototype-hive mx-auto py4">
    <h1 class="bold mb4">BuzzFeed Hive | Create new asset</h1>
    <form post="hive_manage_v1">
    <section class="clearfix">
      <div class="half-width float-left p2">
        <label class="form-label">New asset <span class="form-label--required">*</span></label>
        <div class="border-dashed text-center mb4">
          Drag and drop<br />
          or click to upload
        </div>
        <label class="form-label">Title <span class="form-label--required">*</span></label>
        <input type="text" class="text-input mb4">
        <label class="form-label" placeholder="buzzfeed username">Authors <span class="form-label--required">*</span></label>
        <input type="text" class="text-input mb4">
      </div>
      <div class="half-width float-right p2">
        <label class="form-label">Description <span class="form-label--optional">(optional)</span></label>
        <textarea class="textarea mb4"></textarea>
        <label class="form-label">Tags <span class="form-label--optional">(optional)</span></label>
        <input type="text" class="text-input mb4">
        <label class="form-label">Link <span class="form-label--optional">(optional)</span></label>
        <input type="text" class="text-input mb4" placeholder="Vine, BuzzFeed, Facebook, etc.">
      </div>
    </section>
    <section class="clearfix">
      <input type="submit" value="Create">
    </section>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </body>
</html>