<!DOCTYPE html>
<html>
  <head>
    <title>BuzzFeed Hive</title>
    <link rel="stylesheet" type="text/css" href="/scss/base.css">
    <link rel="stylesheet" type="text/css" href="/scss/prototypes/hive.css">
    <svg style="display:none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 512 512">
      <defs>
        <g id="facebook">
          <path d="M483.743,0H28.259C12.649,0,0,12.649,0,28.259v455.484C0,499.348,12.649,512,28.259,512 h245.218V313.728h-66.724v-77.271h66.724v-56.985c0-66.13,40.39-102.14,99.384-102.14c28.257,0,52.545,2.104,59.621,3.044v69.111 l-40.913,0.019c-32.086,0-38.298,15.246-38.298,37.618v49.334h76.519l-9.964,77.271h-66.555V512h130.473 C499.348,512,512,499.348,512,483.743V28.259C512,12.649,499.348,0,483.743,0z">
        </g>
        <g id="tweet">
          <path d="M500 103.716c-17.954 8.07-37.251 13.524-57.501 15.974 20.667-12.555 36.544-32.435 44.02-56.126-19.347 11.628-40.772 20.068-63.579 24.618-18.261-19.717-44.281-32.035-73.078-32.035-55.29 0-100.121 45.42-100.121 101.445 0 7.951.886 15.695 2.594 23.119-83.209-4.23-156.982-44.619-206.361-105.996-8.618 14.983-13.557 32.411-13.557 51.003 0 35.197 17.675 66.248 44.54 84.44-16.411-.527-31.849-5.091-45.347-12.688-.01.423-.01.846-.01 1.276 0 49.151 34.511 90.153 80.313 99.474-8.401 2.319-17.246 3.56-26.376 3.56-6.451 0-12.725-.638-18.837-1.822 12.739 40.302 49.713 69.635 93.525 70.451-34.265 27.211-77.433 43.43-124.342 43.43-8.081 0-16.05-.482-23.883-1.419 44.308 28.784 96.934 45.581 153.474 45.581 184.154 0 284.86-154.584 284.86-288.644 0-4.398-.1-8.772-.293-13.123 19.564-14.305 36.537-32.171 49.959-52.516">
        </g>
        <g id="pinterest">
          <path d="M255.459 11.311c-134.45 0-243.459 108.998-243.459 243.455 0 99.689 59.946 185.328 145.726 222.982-.685-17-.122-37.407 4.238-55.904 4.679-19.765 31.326-132.658 31.326-132.658s-7.78-15.543-7.78-38.52c0-36.077 20.913-63.021 46.953-63.021 22.145 0 32.843 16.633 32.843 36.549 0 22.262-14.198 55.559-21.5 86.399-6.099 25.825 12.949 46.889 38.426 46.889 46.126 0 77.193-59.243 77.193-129.437 0-53.357-35.938-93.295-101.302-93.295-73.849 0-119.856 55.073-119.856 116.589 0 21.209 6.253 36.169 16.049 47.749 4.504 5.32 5.13 7.462 3.499 13.57-1.168 4.479-3.849 15.263-4.96 19.538-1.622 6.165-6.617 8.369-12.189 6.092-34.014-13.886-49.858-51.135-49.858-93.009 0-69.156 58.326-152.082 173.996-152.082 92.949 0 154.125 67.261 154.125 139.462 0 95.502-53.094 166.852-131.359 166.852-26.285 0-51.009-14.209-59.477-30.345 0 0-14.134 56.092-17.128 66.923-5.16 18.771-15.265 37.53-24.503 52.152 21.896 6.465 45.026 9.984 68.998 9.984 134.44 0 243.443-109 243.443-243.459 0-134.457-109.003-243.455-243.443-243.455">
        </g>
        <g id="youtube">
          <path d="M506.887,153.482c0,0-5.002-35.282-20.354-50.819c-19.469-20.393-41.293-20.494-51.301-21.688 c-71.646-5.179-179.122-5.179-179.122-5.179h-0.222c0,0-107.472,0-179.121,5.179c-10.009,1.194-31.824,1.294-51.301,21.688 C10.116,118.2,5.121,153.482,5.121,153.482S0,194.915,0,236.348v38.844c0,41.433,5.121,82.865,5.121,82.865 s4.995,35.282,20.346,50.819c19.477,20.393,45.061,19.748,56.456,21.886C122.883,434.688,256,435.904,256,435.904 s107.585-0.162,179.232-5.341c10.008-1.194,31.832-1.295,51.301-21.688c15.352-15.537,20.354-50.819,20.354-50.819 S512,316.624,512,275.191v-38.844C512,194.915,506.887,153.482,506.887,153.482z M203.418,322.262l-0.023-143.858l138.345,72.18 L203.418,322.262z">
          <path d="M506.887,153.482c0,0-5.002-35.282-20.354-50.819 c-19.469-20.393-41.293-20.494-51.301-21.688c-71.646-5.179-179.122-5.179-179.122-5.179h-0.222c0,0-107.472,0-179.121,5.179 c-10.009,1.194-31.824,1.294-51.301,21.688C10.116,118.2,5.121,153.482,5.121,153.482S0,194.915,0,236.348v38.844 c0,41.433,5.121,82.865,5.121,82.865s4.995,35.282,20.346,50.819c19.477,20.393,45.061,19.748,56.456,21.886 C122.883,434.688,256,435.904,256,435.904s107.585-0.162,179.232-5.341c10.008-1.194,31.832-1.295,51.301-21.688 c15.352-15.537,20.354-50.819,20.354-50.819S512,316.624,512,275.191v-38.844C512,194.915,506.887,153.482,506.887,153.482z M203.418,322.262l-0.023-143.858l138.345,72.18L203.418,322.262z">
        </g>
        <g id="tumblr">
          <path d="M378.819,408.955c-9.521,4.533-27.732,8.492-41.311,8.844 c-40.984,1.102-48.926-28.785-49.276-50.48V207.941h102.812v-77.51H288.608V0c0,0-73.777,0-75.004,0s-3.382,1.09-3.683,3.833 c-4.384,39.92-23.073,109.977-100.732,137.972v66.136h51.807v167.293c0,57.27,42.262,138.637,153.792,136.732
          c37.626-0.65,79.413-16.408,88.657-29.986L378.819,408.955z">
        </g>
      </defs>
    </svg>
  </head>
  <body class="prototype-hive mx-auto py4">
    <h1 class="bold mb4">BuzzFeed Hive</h1>
    <div class="inline-block mb4">
      <select class="select">
        <option value="choose">All teams</option>
        <option value="amazing">BFF</option>
        <option value="boring">Buzz</option>
        <option value="fun">News</option> 
        <option value="fun">Life</option> 
      </select>
      <select class="select">
        <option value="choose">All platforms</option>
        <option value="amazing">BuzzFeed</option>
        <option value="boring">Facebook</option>
        <option value="fun">Instagram</option> 
        <option value="fun">Tumblr</option> 
        <option value="fun">Twitter</option> 
        <option value="fun">Vine</option> 
        <option value="fun">Nowhere</option> 
      </select>
      <input type="submit" value="Filter">
    </div>
    <section class="clearfix mb2">  
      <div class="col col-3 pr1">
          <a href="hive_create_v1">
          <img src="http://placehold.it/300x300" class="border">
          <h6 class="text-right text-gray-lightest">buzzzz</h6>
          <h3>Create new asset</h3>
          </a>
      </div>
      <div class="col col-3 pr1">
          <img src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11255688_811143125642874_1370881178_n.jpg" class="border">
          <h6 class="text-right text-gray-lightest">May 8, 2015, 1:56 p.m.</h6>
          <h3>Mom tattoo</h3>
          <h5>By Zoe Burnett</h5>
          <svg viewBox="0 0 512 512" class="fill-tumblr-icon social-icon">
            <use xlink:href="#tumblr"></use>
          </svg>
          <svg viewBox="0 0 512 512" class="fill-facebook-icon social-icon">
            <use xlink:href="#facebook"></use>
          </svg>
          <svg viewBox="0 0 512 512" class="fill-twitter-icon social-icon">
            <use xlink:href="#tweet"></use>
          </svg>
      </div>
      <div class="col col-3 pr1">
          <img src="https://scontent-lga.cdninstagram.com/hphotos-xfa1/t51.2885-15/11226767_1604947256455775_1187032526_n.jpg" class="border">
          <h6 class="text-right text-gray-lightest">May 5, 2015, 10:08 a.m.</h6>
          <h3>Mom sorry I haven't called card</h3>
          <h5>By Adam Kurtz</h5>
          <svg viewBox="0 0 512 512" class="fill-tumblr-icon social-icon">
            <use xlink:href="#tumblr"></use>
          </svg>
          <svg viewBox="0 0 512 512" class="fill-facebook-icon social-icon">
            <use xlink:href="#facebook"></use>
          </svg>
          <svg viewBox="0 0 512 512" class="fill-twitter-icon social-icon">
            <use xlink:href="#tweet"></use>
          </svg>
      </div>
      <div class="col col-3 pr1">
          <img src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11249254_1391479781179994_1525186099_n.jpg" class="border">
          <h6 class="text-right text-gray-lightest">May 5, 2015, 9:32 a.m.</h6>
          <h3>Stages of eating an entire pizza</h3>
          <h5 >By Adam Kurtz</h5>
          <svg viewBox="0 0 512 512" class="fill-tumblr-icon social-icon">
            <use xlink:href="#tumblr"></use>
          </svg>
          <svg viewBox="0 0 512 512" class="fill-facebook-icon social-icon">
            <use xlink:href="#facebook"></use>
          </svg>
          <svg viewBox="0 0 512 512" class="fill-twitter-icon social-icon">
            <use xlink:href="#tweet"></use>
          </svg>
      </div>
    </section>
    <section class="clearfix">  
      <div class="col col-3 pr1">
          <img src="https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11240662_1428826107421485_1148391085_n.jpg" class="border">
          <h6 class="text-right text-gray-lightest">May 5, 2015, 8:43 a.m.</h6>
          <h3>Kanye All Day: McDonalds</h3>
          <h5>By Michael Hinson</h5>
      </div>
      <div class="col col-3 pr1">
          <img src="https://scontent-lga.cdninstagram.com/hphotos-xpa1/t51.2885-15/11191262_982695708431118_1921390096_n.jpg" class="border">
          <h6 class="text-right text-gray-lightest">May. 4, 2015, 1:56 p.m.</h6>
          <h3>President cat</h3>
          <h5>By Adam Ellis</h5>
      </div>
      <div class="col col-3 pr1">
          <img src="https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11242870_1580540678891997_1123006210_n.jpg" class="border">
          <h6 class="text-right text-gray-lightest">May. 4, 2015, 10:08 a.m.</h6>
          <h3>That one coworker who thinks they're the boss</h3>
          <h5>By Jeremy Briggs, Matt Bellassai</h5>
      </div>
      <div class="col col-3 pr1">
          <img src="http://i.imgur.com/jPJtVR5.gif" class="border">
          <h6 class="text-right text-gray-lightest">May. 4, 2015, 9:32 a.m.</h6>
          <h3>May the Fourth be with you</h3>
          <h5 >By Jen Lewis</h5>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </body>
</html>
