<!DOCTYPE html>
<html>
  <head>
    <title>News v2</title>
    <link rel="stylesheet" type="text/css" href="/scss/base.css">
    <link rel="stylesheet" type="text/css" href="/scss/prototypes/news.css">
  </head>
  <body class="prototype-news mx-auto xs-py4">

    <div class="clearfix xs-mb1">

      <div class="col xs-col-2 xs-pr3 xs-pb2">
        <div class="xs-py4 fill-green"></div>
      </div>

      <div class="col xs-col-7 xs-pr3 xs-pb2">
        <div class="xs-py4 fill-yellow"></div>
      </div> 
 
      <div class="col xs-col-3 xs-pb2">
        <div class="xs-py4 fill-pink"></div>
      </div>

    </div> <!-- end clearfix for top part -->

      <div class="xs-col-9 xs-pr3 xs-pb2">
        <div class="xs-py1 fill-green"></div>
      </div>

      <div class="col xs-col-5 xs-pr3"> 

        <div class="col xs-col-12 xs-pb2">
          <div class="col xs-col-8 xs-py4 fill-pink"></div>
         <div class="xs-float-right xs-col-4 xs-pl2 xs-py4 fill-yellow"></div>
        </div>

        <div class="col xs-col-12 xs-pb2">
          <div class="col xs-col-8 xs-py4 fill-pink"></div>
         <div class="xs-float-right xs-col-4 xs-pl2 xs-py4 fill-yellow"></div>
        </div>

        <div class="col xs-col-12 xs-pb2s">
          <div class="col xs-col-8 xs-py4 fill-pink"></div>
         <div class="xs-float-right xs-col-4 xs-pl2 xs-py4 fill-yellow"></div>
        </div>s



     </div>

      <div class="col xs-col-4 xs-pr3">

        <div class="col xs-col-12 xs-pb3">
         <div class="col xs-col-9"></div>
         <div class="xs-float-right xs-col-3 xs-pl2"></div>
        </div>


        <div class="col xs-col-12 xs-pb3">
          <div class="col xs-col-9">
            <h5 class="slab">Mike Huckabee Officially Enters 2016 Race</h5>
            <h6 class="bold xs-py1"><a href="#">By Shannon Keating </a><span class="text-gray-lightest">| 2 hours ago</span> </h6>
         </div>
         <div class="xs-float-right xs-col-3 xs-pl2"><img class="xs-fit" src="http://ak-hdl.buzzfed.com/static/2015-05/5/0/enhanced/webdr09/enhanced-6366-1430799053-6.jpg"></div>
         <p class="col xs-col-12 text-5">A short checklist called the Static-99 weighs facts about a sex offender’s past in order to predict the likelihood of future crimes.</p>
        </div>
        
        <div class="col xs-col-12 xs-pb3">
          <div class="col xs-col-9">
            <h5 class="slab">This Is The Warning The DNC Is Presenting To Democrats About The Koch-Funded Latino Group</h5>
            <h6 class="bold xs-py1"><a href="#">By Shannon Keating </a><span class="text-gray-lightest">| 2 hours ago</span> </h6>
         </div>
         <div class="xs-float-right xs-col-3 xs-pl2"><img class="xs-fit" src="http://ak-hdl.buzzfed.com/static/2015-05/4/14/enhanced/webdr04/enhanced-27599-1430765788-1.png"></div>
         <p class="col xs-col-12 text-5">Democrats and liberal donors have been sounding the alarm about the LIBRE Initiative.</p>
       </div>

      </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </body>
</html>

