<!DOCTYPE html>
<html>
  <head>
    <title>News v2</title>
    <link rel="stylesheet" type="text/css" href="/scss/base.css">
    <link rel="stylesheet" type="text/css" href="/scss/prototypes/news.css">
  </head>
  <body class="prototype-news mx-auto xs-py4">

    <div class="clearfix xs-mb1">
      <div class="col xs-col-2 xs-pr3">

        <div class="xs-mb1"><label class="caps text-red text-6 bold">HAPPENING NOW</label></div>
        <img src="http://ak-hdl.buzzfed.com/static/2015-05/9/10/enhanced/webdr14/enhanced-7676-1431183487-6.jpg">
        <ul class="text-5">
          <li class="xs-mb3"><span class="bold">ISIS</span> has claimed responsibility for the attack at a Muhammad cartoon event in Garland, Texas</li>
          <li class="xs-mb3"><span class="bold">Two Republican candidates</span> joined the 2016 presidential race yesterday, with a third scheduled to announce today</li>
          <li class="xs-mb3"><span class="bold">The U.S. Department of Justice</span> has launched a review of its secretive cell phone surveillance program</li>
          <li class="xs-mb3">And, check out the looks from the <span class="bold">2015 Met Gala red carpet</span></li>
        </ul>
        <p class="text-5 text-gray-lightest xs-pb1">Last Updated 2 hours ago</p> 
        <hr class="light-border" />

        <div class="bold text-5 xs-pt1">New York, NY <span class="xs-pl1">64&deg</span><a href="#" class="text-blue xs-float-right">Edit</a></div>

      </div>

      <div class="col xs-col-7 xs-pr3">

        <div class="xs-mb1"><label class="caps text-red text-6 bold">ISIS</label></div>
        <div class="xs-mb1"><img class="xs-full-width" src="http://ak-hdl.buzzfed.com/static/2015-05/4/12/enhanced/webdr10/enhanced-buzz-wide-26085-1430757123-15.jpg"></div>
        <h1 class="slab">Texas Gunman Identified</h1>
        <div class="col xs-col-12 xs-py1">
          <div class="col xs-col-4 ">
            <div class="xs-float-left xs-pr1"><img class="byline_avatar-size circle" src="http://s3-ak.buzzfeed.com/static/2014-08/4/11/user_images/webdr02/claudiakoerner-402-1407164516-2_large.jpg"></div>
            <div class="col xs-col-8">
              <div class="col xs-col-12 text-6 bold"><a href="#">By Claudia Samaha</a></div>
              <div class="col xs-col-12 text-6 text-gray-lightest">BuzzFeed News Reporter</div>
            </div>
          </div>
          <div class="col xs-col-7">
            <div class="xs-float-left xs-pr1"><img class="byline_map-size light-border" src="http://s3-ak.buzzfeed.com/static/2015-03/17/10/enhanced/webdr04/dateline-31102-1426604099-34.png"></div>
            <div class="col xs-col-7">
              <div class="col xs-col-7 text-6 text-gray-lightest">Reporting from Garland, Texas</div>
            </div>
          </div>
        </div>
        <p class="xs-pb4"><span class="text-gray-lightest"> 18 hours ago </span> Authorities shot and killed two gunmen Sunday who shot and wounded a safety officer outside a Garland, Texas, contest for people drawing the Prophet Muhammad.</p>

      </div> 

      <div class="col xs-col-3">

        <div class="xs-pb3">
          <div class="xs-mb1"><label class="caps text-red text-6 bold">FEATURED</label></div>
          <img class="xs-full-width" src="http://s3-ak.buzzfeed.com/static/2015-04/21/11/enhanced/webdr01/longform-original-25408-1429628458-11.jpg"/>
          <h2 class="slab xs-pt1">These 10 Questions Can Mean Life Behind Bars</h2>
          <div class="col xs-col-12 xs-py1">
            <div class="xs-float-left xs-pr1"><img class="byline_avatar-size circle" src="http://s3-ak.buzzfeed.com/static/2015-02/3/17/user_images/webdr10/peteraldhous-32049-1423002911-5_large.jpg"></div>
            <div class="col xs-col-7">
              <div class="col xs-col-12 text-6 bold"><a href="#">By Peter Samaha</a></div>
              <div class="col xs-col-12 text-6 text-gray-lightest">BuzzFeed Staff</div>
            </div>
          </div>
          <p class="text-5"><span class="text-gray-lightest">2 hours ago </span> A short checklist called the Static-99 weighs facts about a sex offender’s past in order to predict the likelihood of future crimes.</p>
        </div>
        <div class="col xs-col-12 xs-py1">
          <div class="col xs-col-4 xs-pr1"><img class="xs-fit" src="http://ak-hdl.buzzfed.com/static/2015-04/30/18/enhanced/webdr09/longform-original-14469-1430432982-8.jpg"></div>
          <div class="col xs-col-8">
            <h5 class="col xs-col-12 slab">Wax Is Weed’s Next Big Thing And No One Knows If It’s Safe</h5>
            <h6 class="col xs-col-12 bold xs-pt1"><a href="#">By Amanda Chicago Lewis</a></h6>
          </div>
        </div>
        <div class="col xs-col-12 xs-py1">
          <div class="col xs-col-4 xs-pr1"><img class="xs-fit" src="http://ak-hdl.buzzfed.com/static/2015-04/24/18/enhanced/webdr08/longform-31455-1429915344-1.jpg"></div>
          <div class="col xs-col-8">
            <h5 class="col xs-col-12 slab">Coming Out As Gay In Elementary School</h5>
            <h6 class="col xs-col-12 bold xs-pt1"><a href="#">By Shannon Keating</a></h6>
          </div>
        </div>
        
      </div> 
    </div> <!-- end clearfix for top part -->

      <div class="xs-col-7">
       <div class="xs-pb1"><label class="caps text-red text-6 bold">Top Stories</label></div> 
      </div>

      <div class="col xs-col-5 xs-pr3"> 

        <div class="col xs-col-12 xs-pb3">
          <div class="col xs-col-8">
            <h2 class="slab">ISIS Claims Responsibility For Texas Attack</h2>
            <h6 class="bold xs-py1"><a href="#">By Shannon Keating </a><span class="text-gray-lightest">| 2 hours ago</span> </h6>
            <p class="text-5">ISIS supporters claimed responsibility Tuesday for the Sunday's attack at a Muhammad Drawing Contest in Garland, Texas, according to multiple reports.</p>
         </div>
         <div class="xs-float-right xs-col-4 xs-pl2"><img class="xs-fit" src="http://ak-hdl.buzzfed.com/static/2015-05/4/16/enhanced/webdr01/enhanced-buzz-wide-4474-1430771849-7.jpg"></div>
        </div>

        <div class="col xs-col-12 xs-pb3">
          <div class="col xs-col-8">
            <h2 class="slab">Mike Huckabee Officially Enters 2016 Race</h2>
            <h6 class="bold xs-py1"><a href="#">By Shannon Keating </a><span class="text-gray-lightest">| 2 hours ago</span> </h6>
            <p class="text-5">A short checklist called the Static-99 weighs facts about a sex offender’s past in order to predict the likelihood of future crimes.</p>
         </div>
         <div class="xs-float-right xs-col-4 xs-pl2"><img class="xs-fit" src="http://ak-hdl.buzzfed.com/static/2015-05/5/0/enhanced/webdr09/enhanced-6366-1430799053-6.jpg"></div>
        </div>
        
        <div class="col xs-col-12 xs-pb3">
          <div class="col xs-col-8">
            <h2 class="slab">This Is The Warning The DNC Is Presenting To Democrats About The Koch-Funded Latino Group</h2>
            <h6 class="bold xs-py1"><a href="#">By Shannon Keating </a><span class="text-gray-lightest">| 2 hours ago</span> </h6>
            <p class="text-5">Democrats and liberal donors have been sounding the alarm about the LIBRE Initiative.</p>
         </div>
         <div class="xs-float-right xs-col-4 xs-pl2"><img class="xs-fit" src="http://ak-hdl.buzzfed.com/static/2015-05/4/14/enhanced/webdr04/enhanced-27599-1430765788-1.png"></div>
       </div>

     </div>

      <div class="col xs-col-4 xs-pr3">

        <div class="col xs-col-12 xs-pb3">
          <div class="col xs-col-9">
            <h5 class="slab">ISIS Claims Responsibility For Texas Attack</h5>
            <h6 class="bold xs-py1"><a href="#">By Shannon Keating </a><span class="text-gray-lightest">| 2 hours ago</span> </h6>
         </div>
         <div class="xs-float-right xs-col-3 xs-pl2"><img class="xs-fit" src="http://ak-hdl.buzzfed.com/static/2015-05/4/16/enhanced/webdr01/enhanced-buzz-wide-4474-1430771849-7.jpg"></div>
         <p class="col xs-col-12 text-5">ISIS supporters claimed responsibility Tuesday for the Sunday's attack at a Muhammad Drawing Contest in Garland, Texas, according to multiple reports.</p>
        </div>
        <div class="col xs-col-12 xs-pb3">
          <div class="col xs-col-9">
            <h5 class="slab">Mike Huckabee Officially Enters 2016 Race</h5>
            <h6 class="bold xs-py1"><a href="#">By Shannon Keating </a><span class="text-gray-lightest">| 2 hours ago</span> </h6>
         </div>
         <div class="xs-float-right xs-col-3 xs-pl2"><img class="xs-fit" src="http://ak-hdl.buzzfed.com/static/2015-05/5/0/enhanced/webdr09/enhanced-6366-1430799053-6.jpg"></div>
         <p class="col xs-col-12 text-5">A short checklist called the Static-99 weighs facts about a sex offender’s past in order to predict the likelihood of future crimes.</p>
        </div>
        
        <div class="col xs-col-12 xs-pb3">
          <div class="col xs-col-9">
            <h5 class="slab">This Is The Warning The DNC Is Presenting To Democrats About The Koch-Funded Latino Group</h5>
            <h6 class="bold xs-py1"><a href="#">By Shannon Keating </a><span class="text-gray-lightest">| 2 hours ago</span> </h6>
         </div>
         <div class="xs-float-right xs-col-3 xs-pl2"><img class="xs-fit" src="http://ak-hdl.buzzfed.com/static/2015-05/4/14/enhanced/webdr04/enhanced-27599-1430765788-1.png"></div>
         <p class="col xs-col-12 text-5">Democrats and liberal donors have been sounding the alarm about the LIBRE Initiative.</p>
       </div>

      </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </body>
</html>

