<!DOCTYPE html>
<html>
  <head>
    <title>Proto 2</title>
    <link rel="stylesheet" type="text/css" href="/scss/base.css">
  </head>
  <body class="prototype-news mx-auto py4">
    <div class="clearfix">

      <div class="col col-2 pr3">

        <div class="mb1"><label class="caps text-red type-6 bold">HAPPENING NOW</label></div>
        <img src="http://ak-hdl.buzzfed.com/static/2015-05/9/10/enhanced/webdr14/enhanced-7676-1431183487-6.jpg">
        <ul class="type-5">
          <li class="mb3"><span class="bold">ISIS</span> has claimed responsibility for the attack at a Muhammad cartoon event in Garland, Texas</li>
          <li class="mb3"><span class="bold">Two Republican candidates</span> joined the 2016 presidential race yesterday, with a third scheduled to announce today</li>
          <li class="mb3"><span class="bold">The U.S. Department of Justice</span> has launched a review of its secretive cell phone surveillance program</li>
          <li class="mb3">And, check out the looks from the <span class="bold">2015 Met Gala red carpet</span></li>
        </ul>
        <p class="type-5 text-gray-lightest pb1">Last Updated 2 hours ago</p> 
        <hr class="light-border" />

        <div class="bold type-5 pt1">New York, NY</div>
        <h1 class="float-left">64&deg</h1>

      </div>

      <div class="col col-7 pr3">

        <div class="mb1"><label class="caps text-red type-6 bold">ISIS</label></div>
        <div class="mb1"><img class="full-width" src="/images/prototypes/news/splash_image.jpg"></div>
        <h1 class="bold slab">Texas Gunman Identified</h1>
        <div class="col col-12 py1">
          <div class="col col-4 ">
            <div class="float-left pr1"><img class="byline_avatar-size circle" src="/images/prototypes/news/claudia.jpg"></div>
            <div class="col col-8">
              <div class="col col-12 type-6 bold"><a href="#">By Claudia Samaha</a></div>
              <div class="col col-12 type-6 text-gray-lightest">BuzzFeed News Reporter</div>
            </div>
          </div>
          <div class="col col-7">
            <div class="float-left pr1"><img class="byline_map-size light-border" src="/images/prototypes/news/baltimore_map.png"></div>
            <div class="col col-7">
              <div class="col col-7 type-6 text-gray-lightest">Reporting from Garland, Texas</div>
            </div>
          </div>
        </div>
        <p class="pb4"><span class="text-gray-lightest"> 18 hours ago </span> Authorities shot and killed two gunmen Sunday who shot and wounded a safety officer outside a Garland, Texas, contest for people drawing the Prophet Muhammad.</p>

      </div> 

      <div class="col col-3">

        <div class="pb3">
          <div class="mb1"><label class="caps text-red type-6 bold">FEATURED</label></div>
          <img class="full-width" src="/images/prototypes/news/lifebehindbars.jpg"/>
          <h2 class="slab pt1">These 10 Questions Can Mean Life Behind Bars</h2>
          <div class="col col-12 py1">
            <div class="float-left pr1"><img class="byline_avatar-size circle" src="/images/prototypes/news/peter.jpg"></div>
            <div class="col col-7">
              <div class="col col-12 type-6 bold"><a href="#">By Peter Samaha</a></div>
              <div class="col col-12 type-6 text-gray-lightest">BuzzFeed Staff</div>
            </div>
          </div>
          <p class="type-5"><span class="text-gray-lightest">2 hours ago </span> A short checklist called the Static-99 weighs facts about a sex offender’s past in order to predict the likelihood of future crimes.</p>
        </div>
        <div class="col col-12 py1">
          <div class="col col-4 pr1"><img class="fit" src="/images/prototypes/news/weed.jpg"></div>
          <div class="col col-8">
            <h5 class="col col-12 slab">Wax Is Weed’s Next Big Thing And No One Knows If It’s Safe</h5>
            <h6 class="col col-12 bold pt1"><a href="#">By Amanda Chicago Lewis</a></h6>
          </div>
        </div>
        <div class="col col-12 py1">
          <div class="col col-4 pr1"><img class="fit" src="/images/prototypes/news/comingout.jpg"></div>
          <div class="col col-8">
            <h5 class="col col-12 slab">Coming Out As Gay In Elementary School</h5>
            <h6 class="col col-12 bold pt1"><a href="#">By Shannon Keating</a></h6>
          </div>
        </div>
        
      </div> 

      <div class="col-7">
       <div class="pb1"><label class="caps text-red type-6 bold">Top Stories</label></div> 
      </div>

      <div class="col col-5 pr3"> 

        <div class="col col-12 pb3">
          <div class="col col-8">
            <h2 class="slab">ISIS Claims Responsibility For Texas Attack</h2>
            <h6 class="bold py1"><a href="#">By Shannon Keating </a><span class="text-gray-lightest">| 2 hours ago</span> </h6>
            <p class="type-5">ISIS supporters claimed responsibility Tuesday for the Sunday's attack at a Muhammad Drawing Contest in Garland, Texas, according to multiple reports.</p>
         </div>
         <div class="float-right col-4 pl2"><img class="fit" src="/images/prototypes/news/isis.jpg"></div>
        </div>

        <div class="col col-12 pb3">
          <div class="col col-8">
            <h2 class="slab">Mike Huckabee Officially Enters 2016 Race</h2>
            <h6 class="bold py1"><a href="#">By Shannon Keating </a><span class="text-gray-lightest">| 2 hours ago</span> </h6>
            <p class="type-5">A short checklist called the Static-99 weighs facts about a sex offender’s past in order to predict the likelihood of future crimes.</p>
         </div>
         <div class="float-right col-4 pl2"><img class="fit" src="/images/prototypes/news/huckleberry.jpg"></div>
        </div>
        
        <div class="col col-12 pb3">
          <div class="col col-8">
            <h2 class="slab">This Is The Warning The DNC Is Presenting To Democrats About The Koch-Funded Latino Group</h2>
            <h6 class="bold py1"><a href="#">By Shannon Keating </a><span class="text-gray-lightest">| 2 hours ago</span> </h6>
            <p class="type-5">Democrats and liberal donors have been sounding the alarm about the LIBRE Initiative.</p>
         </div>
         <div class="float-right col-4 pl2"><img class="fit" src="/images/prototypes/news/DNC.png"></div>
       </div>

     </div>

      <div class="col col-4 pr3">

        <div class="col col-12 pb3">
          <div class="col col-9">
            <h5 class="slab">ISIS Claims Responsibility For Texas Attack</h5>
            <h6 class="bold py1"><a href="#">By Shannon Keating </a><span class="text-gray-lightest">| 2 hours ago</span> </h6>
         </div>
         <div class="float-right col-3 pl2"><img class="fit" src="/images/prototypes/news/isis.jpg"></div>
         <p class="col col-12 type-5">ISIS supporters claimed responsibility Tuesday for the Sunday's attack at a Muhammad Drawing Contest in Garland, Texas, according to multiple reports.</p>
        </div>
        <div class="col col-12 pb3">
          <div class="col col-9">
            <h5 class="slab">Mike Huckabee Officially Enters 2016 Race</h5>
            <h6 class="bold py1"><a href="#">By Shannon Keating </a><span class="text-gray-lightest">| 2 hours ago</span> </h6>
         </div>
         <div class="float-right col-3 pl2"><img class="fit" src="/images/prototypes/news/huckleberry.jpg"></div>
         <p class="col col-12 type-5">A short checklist called the Static-99 weighs facts about a sex offender’s past in order to predict the likelihood of future crimes.</p>
        </div>
        
        <div class="col col-12 pb3">
          <div class="col col-9">
            <h5 class="slab">This Is The Warning The DNC Is Presenting To Democrats About The Koch-Funded Latino Group</h5>
            <h6 class="bold py1"><a href="#">By Shannon Keating </a><span class="text-gray-lightest">| 2 hours ago</span> </h6>
         </div>
         <div class="float-right col-3 pl2"><img class="fit" src="/images/prototypes/news/DNC.png"></div>
         <p class="col col-12 type-5">Democrats and liberal donors have been sounding the alarm about the LIBRE Initiative.</p>
       </div>

      </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </body>
</html>

