<!-- This is just an example. Include this wrapper into your prototype templates to get started -->
<!DOCTYPE html>
<html>
  <head>
    <title>Solid Demo</title>
    <link rel="stylesheet" type="text/css" href="/lib/solid.css">
  </head>
  <body class="xs-p4">
  
    <div class="col xs-col-12 md-col-10 lg-col-3">

        <!-- WYNTK MODULE -->
        <div class="xs-col-12 xs-p3 rounded xs-border">
          <div class="xs-px4 xs-pb2 xs-border-bottom">
            <img src="/images/logos/svgs/buzzfeed-news-full.svg" width="300" />
          </div>
          <div class="text-red bold xs-mt2">Here Are The Top Stories</div>
          <ul class="xs-my2">
            <li class="xs-my1">Amazon, Walmart, and other retailers were hit with more than $300,000 in fines for selling toy guns that look like real guns.</li>
            <li class="xs-my1">President Obama will unveil a plan that is considered to be "the strongest action ever taken" in the U.S. to combat climate change.</li>
            <li class="xs-my1">California Gov. Jerry Brown called for a state of emergency as wildfires burned thousands of acres by Sunday and forced hundreds of evacuations.</li>
          </ul>
          <a href="#" class="button button--primary xs-block">Get The News App</a>
        </div>
        <!-- END WYNTK MODULE -->

        <!-- START RELATED STORIES -->
        <div class="gutters">
          <div class="col xs-col-6 lg-col-12 xs-mt3">
            <img src="http://s3-static-ak.buzzfed.com/static/2015-08/3/20/campaign_images/webdr06/suspect-in-memphis-police-officer-killing-turns-h-2-11040-1438647094-5_wide.jpg" alt="" class="xs-full-width xs-mb1">
            <a href="#" class="xs-block text-3 link-gray bold">Suspect In Memphis Police Officer Killing Turns Himself In</a>
          </div>

          <div class="col xs-col-6 lg-col-12 xs-mt3">
            <img src="http://s3-static-ak.buzzfed.com/static/2015-08/3/20/campaign_images/webdr06/suspect-in-memphis-police-officer-killing-turns-h-2-11040-1438647094-5_wide.jpg" alt="" class="xs-full-width xs-mb1">
            <a href="#" class="xs-block text-3 link-gray bold">Suspect In Memphis Police Officer Killing Turns Himself In</a>
          </div>

          <div class="col xs-col-6 lg-col-12 xs-mt3">
            <img src="http://s3-static-ak.buzzfed.com/static/2015-08/3/20/campaign_images/webdr06/suspect-in-memphis-police-officer-killing-turns-h-2-11040-1438647094-5_wide.jpg" alt="" class="xs-full-width xs-mb1">
            <a href="#" class="xs-block text-3 link-gray bold">Suspect In Memphis Police Officer Killing Turns Himself In</a>
          </div>

          <div class="col xs-col-6 lg-col-12 xs-mt3">
            <img src="http://s3-static-ak.buzzfed.com/static/2015-08/3/20/campaign_images/webdr06/suspect-in-memphis-police-officer-killing-turns-h-2-11040-1438647094-5_wide.jpg" alt="" class="xs-full-width xs-mb1">
            <a href="#" class="xs-block text-3 link-gray bold">Suspect In Memphis Police Officer Killing Turns Himself In</a>
          </div>
        </div>
        <!-- END RELATED STORIES -->

      </div>

  </body>
</html>
