<!DOCTYPE html>
<html>
  <head>
    <title>Sandbox Example</title>
    <link rel="stylesheet" type="text/css" href="/lib/solid.css">
    <link rel="stylesheet" type="text/css" href="/lib/prototypes/superposter.css">
  </head>
  <body>
    <!-- Content goes here! -->
  </body>
</html>
