<!DOCTYPE html>
<html>
  <head>
    <title>Sandbox Example</title>
    <link rel="stylesheet" type="text/css" href="/lib/solid.css">
    <link rel="stylesheet" type="text/css" href="/lib/prototypes/superposter.css">
  </head>
  <body>
    

  <div class="clearfix full-width xs-p2">
    <a href="#">
    
    <img src="/images/logos/svgs/buzzfeed-full.svg" width="200" />

    </a>
    <img src="http://s3-ak.buzzfeed.com/static/2015-05/8/15/user_images/webdr13/emilybrick-v2-29138-1431115121-28.jpg" alt="" class="xs-float-right circle">
  </div>

  <div class="sticky-header fixedsticky">
    <div class="fill-orange xs-p1 text-white xs-text-center caps">DRAFT POST</div>

    <div class="fill-gray--lighter xs-p2 clearfix">
      <a class="button button--primary xs-float-left" href="">Save</a>
      <div class="xs-float-right">
        <a class="button button--secondary" href="">Preview</a>
        <a class="button button--secondary" href="">Queue Post</a>
        <a class="button button--primary" href="">Publish Now</a>
      </div>
    </div>
  </div>


  <div class="xs-py4 clearfix">
    <div class="col xs-col-12 md-col-6 sm-p4 xs-p2 md-pl0 md-pr4 xs-offset-0 md-offset-2">

        <a href="#" class="xs-text-3 link-gray bold mr2">Standard</a>
        <a href="#" class="xs-text-3 bold mr2">US Home</a>
        <a href="#" class="xs-mr3 xs-text-3 bold mr2">UK/AU Home</a>

        <span class="text-6 xs-text-gray--lighter xs-block md-inline-block md-float-right">Sort Mode: Off <span class="xs-ml1">Helper Mode: On</span>
        </span>
      
        <div class="sm-col-10 md-col-12 xs-my2">
          <input type="text" class="xs-p1 xs-mb2 col xs-col-12 xs-text-input" placeholder="Title">
          
          <textarea class="textarea xs-mb2 col xs-col-12" placeholder="Description"></textarea> 

          <input type="checkbox" class="checkbox" id="check_1" value="check_1" name="checkboxes">
          <label for="check_1" class="xs-text-gray--lightest">Replace description with bulleted summary on article page</label>
        </div>
        
        <!-- user image and name-->
        <img src="http://s3-ak.buzzfeed.com/static/2015-05/8/15/user_images/webdr13/emilybrick-v2-29138-1431115121-28.jpg" alt="" class="xs-hide lg-show circle col xs-col-1 lg-pr1 md-pr0">

        <div class="ml1 xs-py1 col xs-col-10">
          <a href="#" class="bold">Emily Brick</a>
          <p class="text-5 xs-text-gray--lighter">BuzzFeed Staff</p>
        </div>
        <!-- end user image and name -->

        <!-- end subbuzz -->
        <div class="col xs-col-12 xs-mt3">
          <div class="fill-gray--lighter xs-border--lighter xs-p3">
            <div class="xs-border-bottom--lighter xs-pb2 xs-mb2"> 
              <a href="#" class="text-gray--lighter xs-mr2 bold">Text</a>
              <a href="#" class="text-gray--lighter xs-mr2 bold">Image</a>
              <a href="#" class="text-gray--lighter xs-mr2 bold">Embed</a>
              <a href="#" class="text-gray--lighter xs-mr2 bold">Link</a>
              <a href="#" class="text-gray--lighter xs-mr2 bold">Quiz</a>
              <a href="#" class="text-gray--lighter xs-float-right caps">Wire</a>
            </div> 
            <input type="text" placeholder="Start writing, drag an image, add a URL, embed code, or select a format above" class="text-input xs-full-width">
          </div>
          <div class="xs-mt3 clearfix">
            <span class="xs-mr1">Via</span><input type="text" placeholder="Where Did You Find It (URL?)" class="text-input">
          </div>
        </div>
        <!-- end subbuzz -->

      </div> 
    </div>
  </body>
</html>
