// Link Styles
// -------------------------

.link-blue {
  color: $text-blue !important;

  path {
    fill: $text-blue !important;
  }

  &:hover { color: darken($text-blue, 20%) !important;

    path {
      transition: fill .15s ease 0s;
      fill: darken($text-blue, 20%) !important;
      cursor: pointer;
    }
  }
}

.link-gray {
  color: $text-gray !important;

  path {
    fill: $text-gray !important;
  }

  &:hover { color: $text-blue !important;

    path {
      transition: fill .15s ease 0s;
      fill: $text-blue !important;
      cursor: pointer;
    }
  }
}

.link-gray-lighter {
  color: $text-gray-lightest !important;

  path {
    fill: $text-gray-lightest !important;
  }

  &:hover { color: $text-gray !important;

    path {
      transition: fill .15s ease 0s;
      fill: $text-gray !important;
      cursor: pointer;
    }
  }
}

.link-white {
  color: $text-white !important;

  path {
    fill: $text-white !important;
  }

  &:hover { color: darken($text-white, 20%) !important;

    path {
      transition: fill .15s ease 0s;
      fill: darken($text-white, 20%) !important;
      cursor: pointer;
    }
  }
}


// Social Link Styles
// -------------------------

.link-facebook {
  color: $text-facebook !important;
  &:hover { color: darken($text-facebook, 20%) !important; }
}

.link-twitter {
  color: $text-twitter !important;
  &:hover { color: darken($text-twitter, 20%) !important; }
}

.link-google {
  color: $text-google !important;
  &:hover { color: darken($text-google, 20%) !important; }
}

.link-linkedin {
  color: $text-linkedin !important;
  &:hover { color: darken($text-linkedin, 20%) !important; }
}

.link-pinterest {
  color: $text-pinterest !important;
  &:hover { color: darken($text-pinterest, 20%) !important; }
}

.link-tumblr {
  color: $text-tumblr !important;
  &:hover { color: darken($text-tumblr, 20%) !important; }
}

.link-youtube {
  color: $text-youtube !important;
  &:hover { color: darken($text-youtube, 20%) !important; }
}

.link-instagram {
  color: $text-instagram !important;
  &:hover { color: darken($text-instagram, 20%) !important; }
}
