<h2 class="bold border-bottom mb4 pb2">Logos</h2>
<h3 class="bold mb2">BuzzFeed News</h3>

<div class="row--no-gutter">

	<div class="col-4">
		<div class="p2">
			<img src="/images/logos/news/buzzfeed-news-full.svg" width="100%" />
		</div>

		<div class="fill-gray-darker p2">
			<img src="/images/logos/news/buzzfeed-news-full-white.svg" width="100%" />
		</div>
	</div>

	<div class="col-6">
		<p class="pt2">Do not simply invert the on-white version to white for dark backgrounds. The on-black spacing between BuzzFeed and NEWS must be a little larger for readability due to not being two-toned.</p>
	</div>

</div>