<a href="/images/logos/ai/buzzfeed-logos.ai" class="button button--secondary float-right mt2">Download .ai</a>

<h1 class="bold border-bottom mb4 pt2 pb4">Logos</h1>

<section class="mb4 pb4 border-bottom">

  <h2 class="bold mb1">Full Logos</h2>

  <p class="mb4">When using on dark backgrounds, <span class="text-red">do not invert the full color version.</span> The spacing between letterforms must be a little larger when on a dark background to maximize legibility.</p>

  <section class="mb4">
    <h3 class="mb1 bold">BuzzFeed</h3>

    <div class="inline-block p2 mr2 line-height-0">
      <img src="/images/logos/svgs/buzzfeed-full.svg" width="200" />
    </div>

    <div class="inline-block fill-red p2 line-height-0">
      <img src="/images/logos/svgs/buzzfeed-full-inverted.svg" width="200" />
    </div>
  </section>

  <section class="mb4">
    <h3 class="mb1 bold">BuzzFeed News</h3>

    <div class="inline-block p2 mr2 line-height-0">
      <img src="/images/logos/svgs/buzzfeed-news-full.svg" width="300" />
    </div>

    <div class="inline-block fill-gray--darker p2 line-height-0">
      <img src="/images/logos/svgs/buzzfeed-news-full-inverted.svg" width="300" />
    </div>
  </section>

  <section class="mb4">
    <h3 class="mb1 bold">BuzzFeed Life</h3>

    <div class="inline-block p2 mr2 line-height-0">
      <img src="/images/logos/svgs/buzzfeed-life-full.svg" width="300" />
    </div>

    <div class="inline-block fill-blue p2 line-height-0">
      <img src="/images/logos/svgs/buzzfeed-life-full-inverted.svg" width="300" />
    </div>
  </section>

</section>

<section class="mb4 pb4 border-bottom">

  <h2 class="bold mb1">Half Logos</h2>

  <p class="mb4">For smaller spaces, BuzzFeed News and BuzzFeed Life have abbreviated logos. They may appear with or without the viral arrow.</p>

  <section class="mb4">
    <h3 class="mb1 bold">BuzzFeed News</h3>

    <div class="inline-block p2 mr2 line-height-0">
      <img src="/images/logos/svgs/buzzfeed-news-half.svg" width="170" />
    </div>

    <div class="inline-block fill-gray--darker p2 line-height-0">
      <img src="/images/logos/svgs/buzzfeed-news-half-inverted.svg" width="170" />
    </div>
  </section>

</section>

<section class="mb4 pb4">

  <h2 class="bold mb1">Viral Arrows</h2>

  <p class="mb4">For simple marks to denote BuzzFeed News content, use these icons. Always include the circle, even when on black. The only exception is for our App Store iconography.</p>

  <section class="mb4">
    <h3 class="mb1 bold">BuzzFeed News</h3>

    <div class="inline-block p2 mr2 line-height-0">
      <img src="/images/logos/svgs/buzzfeed-news-mini.svg" width="50" />
    </div>

    <div class="inline-block fill-gray--darker p2 line-height-0">
      <img src="/images/logos/svgs/buzzfeed-news-mini-inverted.svg" width="50" />
    </div>
  </section>

</section>
