<h2 class="bold border-bottom mb4 pb2">Logos</h2>

<div class="mb4">
	<h3 class="bold inline mr2">BuzzFeed News</h3>
	<a href="/images/logos/news/buzzfeed-news-logos.ai">Download (Adobe Illustrator)</a>
</div>

<div class="mb4 pb4">
	<h4 class="mb1 bold">Full Logo</h4>
	<p class="mr3 mb3 pr3">When using on black, <span class="text-red">do not invert the full color version.</span> The on-black spacing between BuzzFeed and NEWS must be a little larger for readability due to not being two-toned.</p>

	<div class="inline-block p2 mr2 line-height-0">
		<img src="/images/logos/news/buzzfeed-news-full.svg" width="300" />
	</div>

	<div class="inline-block fill-gray-darker p2 line-height-0">
		<img src="/images/logos/news/buzzfeed-news-full-inverted.svg" width="300" />
	</div>
</div>

<div class="mb4">
	<h4 class="mb1 bold">Half Logo</h4>
	<p class="mr3 mb3 pr3">For smaller spaces. <span class="text-red">Do not stack the words BuzzFeed News.</span></p>

	<div class="inline-block p2 mr2 line-height-0">
		<img src="/images/logos/news/buzzfeed-news-half.svg" width="170" />
	</div>

	<div class="inline-block fill-gray-darker p2 line-height-0">
		<img src="/images/logos/news/buzzfeed-news-half-inverted.svg" width="170" />
	</div>
</div>

<div class="mb4">
	<h4 class="mb1 bold">Minimal Logo</h4>
	<p class="mr3 mb3 pr3">For simple marks to denote BuzzFeed News content, use these icons. Always include the circle, even when on black. The only exception is for our App Store
	iconography.</p>

	<div class="inline-block p2 mr2 line-height-0">
		<img src="/images/logos/news/buzzfeed-news-mini.svg" width="50" />
	</div>

	<div class="inline-block fill-gray-darker p2 line-height-0">
		<img src="/images/logos/news/buzzfeed-news-mini-inverted.svg" width="50" />
	</div>
</div>