<section>
  <h2 class="bold mb1">Style components</h2>
  <p class="mb2">Use this Sketch file to pull elements for your designs!</p> 
  </p> This file includes styles for:
    <ul>
      <li>Typography</li>
      <li>Colors</li>
      <li>Buttons</li>
      <li>Forms</li>
      <li>Messaging</li>
    </ul>
   </p>
  <a href="downloads/templates/solid-style-template.sketch" class="button button--primary mt3">Download Sketch file</a>
</section>

