<h1 class="bold border-bottom mb4 pt2 pb4">Typefaces and Icons</h1>

<section>
  <h2 class="bold mb1">Typefaces</h2>
  <p class="mb2">Before downloading either Proxima Nova or Caponi, please <a href="/base/typography">review our typographic styles</a> for information on how and when to apply each.</p>
  <a href="/scss/fonts/Proxima-Nova.zip" class="button button--primary">Download Proxima Nova</a>
  <a href="/scss/fonts/Caponi-Slab-Semibold.zip" class="button button--primary">Download Caponi Slab Semibold</a>
</section>
