<section>
  <h2 class="bold xs-mb1">Typefaces</h2>
  <p>Solid uses Proxima Nova and Caponi. Buzzfeed empolyees can information on downloading and using these typefaces in the <a href="https://github.com/buzzfeed/buzzfeed/wiki/Fonts">Buzzfeed Github Wiki</a>. Non Buzzfeeders can purchase licenses for Proxima Nova from <a href="http://www.myfonts.com/fonts/marksimonson/proxima-nova/">MyFonts</a> and Caponi directly from <a href="https://commercialtype.com/typefaces/caponi">Commercial Type</a></p>
  <p class="xs-mb2">Before downloading either Proxima Nova or Caponi, please <a href="/base/typography">review our typographic styles</a> for information on how and when to apply each.</p>
</section>
