<div class="mb4 pb2">

<ul class="block-grid xs-block-grid-2 md-block-grid-4">

	<li class="block-grid-item"><div class="fill-white p2 border">Hello, Emily, how are you today? This is a long string. Poop poop poop.</div></li><!--
	--><li class="block-grid-item"><div class="fill-white p2 border">Hello</div></li><!--
	--><li class="block-grid-item"><div class="fill-white p2 border">Hello</div></li><!--
	--><li class="block-grid-item"><div class="fill-white p2 border">Hello</div></li><!--
	--><li class="block-grid-item"><div class="fill-white p2 border">Hello</div></li><!--
	--><li class="block-grid-item"><div class="fill-white p2 border">Hello</div></li><!--
	--><li class="block-grid-item"><div class="fill-white p2 border">Hello</div></li><!--
	--><li class="block-grid-item"><div class="fill-white p2 border">Hello</div></li>

</ul>

</div>