<div clas="clearfix">
  <div class="col col-12 p4"></div>

  <div class="col col-6 p4"></div>
  <div class="col col-6 p4"></div>

  <div class="col col-3 p4"></div>
  <div class="col col-3 p4"></div>
  <div class="col col-3 p4"></div>
  <div class="col col-3 p4"></div>

  <div class="col col-1 p4"></div>
  <div class="col col-1 p4"></div>
  <div class="col col-1 p4"></div>
  <div class="col col-1 p4"></div>
  <div class="col col-1 p4"></div>
  <div class="col col-1 p4"></div>
  <div class="col col-1 p4"></div>
  <div class="col col-1 p4"></div>
  <div class="col col-1 p4"></div>
  <div class="col col-1 p4"></div>
  <div class="col col-1 p4"></div>
  <div class="col col-1 p4"></div>

  <div class="col col-4 offset-3 p4"></div>
  <div class="col col-4 offset-5 p4"></div>
  <div class="col col-4 offset-8 p4"></div>

</div>