<div class="clearfix">
  <label class="col col-12 text-gray-lightest">.col-12</label>
  <div class="col col-12 p2 fill-gray-lighter"></div>
  <label class="col col-6 text-gray-lightest">.col-6</label>
  <label class="col col-6 text-gray-lightest">.col-6</label>
  <div class="col col-6 p2 fill-gray-lighter"></div>
  <div class="col col-6 p2 fill-gray-lighter"></div>

  <div>
    <label class="col col-3 text-gray-lightest">.col-3</label>
    <label class="col col-3 text-gray-lightest">.col-3</label>
    <label class="col col-3 text-gray-lightest">.col-3</label>
    <label class="col col-3 text-gray-lightest">.col-3</label>
    <div class="col col-3 p2 fill-gray-lighter"></div>
    <div class="col col-3 p2 fill-gray-lighter"></div>
    <div class="col col-3 p2 fill-gray-lighter"></div>
    <div class="col col-3 p2 fill-gray-lighter"></div>
  </div>


  <div class="col col-12 mt2 text-gray-lightest">
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <div class="col col-1 p2 fill-gray-lighter"></div>
    <div class="col col-1 p2 fill-gray-lighter"></div>
    <div class="col col-1 p2 fill-gray-lighter"></div>
    <div class="col col-1 p2 fill-gray-lighter"></div>
    <div class="col col-1 p2 fill-gray-lighter"></div>
    <div class="col col-1 p2 fill-gray-lighter"></div>
    <div class="col col-1 p2 fill-gray-lighter"></div>
    <div class="col col-1 p2 fill-gray-lighter"></div>
    <div class="col col-1 p2 fill-gray-lighter"></div>
    <div class="col col-1 p2 fill-gray-lighter"></div>
    <div class="col col-1 p2 fill-gray-lighter"></div>
    <div class="col col-1 p2 fill-gray-lighter"></div>
  </div>

  <label class="col col-4 offset-3 text-gray-lightest">.col-4 .offset-3</label>
  <div class="col col-4 offset-3 p2 fill-gray-lighter"></div>

  <label class="col col-4 offset-5 text-gray-lightest">.col-4 .offset-5</label>
  <div class="col col-4 offset-5 p2 fill-gray-lighter"></div>

  <label class="col col-4 offset-8 text-gray-lightest">.col-4 .offset-8</label>
  <div class="col col-4 offset-8 p2 fill-gray-lighter"></div>

</div>

<div class="gutters clearfix">
  <div class="col col-12 mt2 text-gray-lightest">
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1 col-last">.col-1</label>
    <div class="col col-1">
      <div class="p2 fill-gray-lighter"></div>
    </div>
    <div class="col col-1">
      <div class="p2 fill-gray-lighter"></div>
    </div>
    <div class="col col-1">
      <div class="p2 fill-gray-lighter"></div>
    </div>
    <div class="col col-1">
      <div class="p2 fill-gray-lighter"></div>
    </div>
    <div class="col col-1">
      <div class="p2 fill-gray-lighter"></div>
    </div>
    <div class="col col-1">
      <div class="p2 fill-gray-lighter"></div>
    </div>
    <div class="col col-1">
      <div class="p2 fill-gray-lighter"></div>
    </div>
    <div class="col col-1">
      <div class="p2 fill-gray-lighter"></div>
    </div>
    <div class="col col-1">
      <div class="p2 fill-gray-lighter"></div>
    </div>
    <div class="col col-1">
      <div class="p2 fill-gray-lighter"></div>
    </div>
    <div class="col col-1">
      <div class="p2 fill-gray-lighter"></div>
    </div>
    <div class="col col-1">
      <div class="p2 fill-gray-lighter"></div>
    </div>
    <div class="col col-6">
      <div class="p2 fill-gray-lighter"></div>
    </div>
    <div class="col col-6">
      <div class="p2 fill-gray-lighter"></div>
    </div>
  </div>
</div>