<div class="grid-container">
  <h2>Fluid Grid</h2>
  <p>A simple, fluid 12 column grid with gutters either outside or inside the grid.</p>
  <h3>.row</h3>
  <div class="row">
    <div class="col-12"></div>
  </div>

  <div class="row">
    <div class="col-6"></div>
    <div class="col-6"></div>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3"></div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
  </div>

  <div class="row">
    <div class="col-3 push-3"></div>
    <div class="col-3"></div>
    <div class="col-3"></div>
  </div>

  <div class="row">
    <div class="col-6 col--centered"></div>
  </div>

  <h3>.row--no-gutter</h3>
  <div class="row--no-gutter">
    <div class="col-12"></div>
  </div>

  <div class="row--no-gutter">
    <div class="col-6"></div>
    <div class="col-6"></div>
  </div>

  <div class="row--no-gutter">
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3"></div>
  </div>

  <div class="row--no-gutter">
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
  </div>

  <div class="row--no-gutter">
    <div class="col-3 push-3"></div>
    <div class="col-3"></div>
    <div class="col-3"></div>
  </div>

  <div class="row--no-gutter">
    <div class="col-6 col--centered"></div>
  </div>
</div>
