<h2 class="bold border-bottom mb4 pb2">The Fluid Grid</h2>

<div class="mb4">

  <h3 class="bold mb2">Grid Without Gutters</h3>
  <p class="mb2">This is our default 12-column grid. Each group of columns must be nested in a .clearfix parent element. Additionally, our default grid is gutter-less. You can add spacing between columns using our <a href="/layout/utilities">padding utility classes.</a></p>

  <p class="mb2">Column classes range from .col-1 through .col-12 and can be mixed and matched, as well as nested within each other. Our grid is percentage-based, so column sizes are relative to the parent.</p>

  <p class="mb2">Offset classes are used to move columns left from their initial position on the grid. .offset-1 will shift a column right by a single column width. .offset-2 will shift by two column widths, and so on.</p>

  <div class="clearfix mt2 text-gray-lightest type-5">
    <label class="col col-12 text-gray-lightest">.col-12</label>
    <div class="col col-12 border rounded p2 fill-gray-lighter"></div>
  </div>

  <div class="clearfix mt2 text-gray-lightest type-5">
    <label class="col col-6 text-gray-lightest">.col-6</label>
    <label class="col col-6 text-gray-lightest">.col-6</label>
    <div class="col col-6 border rounded p2 fill-gray-lighter"></div>
    <div class="border rounded col col-6 border rounded p2 fill-gray-lighter"></div>
  </div>  

  <div class="clearfix mt2 text-gray-lightest type-5">
    <label class="col col-3 text-gray-lightest">.col-3</label>
    <label class="col col-3 text-gray-lightest">.col-3</label>
    <label class="col col-3 text-gray-lightest">.col-3</label>
    <label class="col col-3 text-gray-lightest">.col-3</label>
    <div class="col col-3 p2 border rounded fill-gray-lighter"></div>
    <div class="col col-3 p2 border rounded fill-gray-lighter"></div>
    <div class="col col-3 p2 border rounded fill-gray-lighter"></div>
    <div class="col col-3 p2 border rounded fill-gray-lighter"></div>
  </div>


  <div class="clearfix mt2 text-gray-lightest type-5">
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <div class="col col-1 border rounded p2 fill-gray-lighter"></div>
    <div class="col col-1 border rounded p2 fill-gray-lighter"></div>
    <div class="col col-1 border rounded p2 fill-gray-lighter"></div>
    <div class="col col-1 border rounded p2 fill-gray-lighter"></div>
    <div class="col col-1 border rounded p2 fill-gray-lighter"></div>
    <div class="col col-1 border rounded p2 fill-gray-lighter"></div>
    <div class="col col-1 border rounded p2 fill-gray-lighter"></div>
    <div class="col col-1 border rounded p2 fill-gray-lighter"></div>
    <div class="col col-1 border rounded p2 fill-gray-lighter"></div>
    <div class="col col-1 border rounded p2 fill-gray-lighter"></div>
    <div class="col col-1 border rounded p2 fill-gray-lighter"></div>
    <div class="col col-1 border rounded p2 fill-gray-lighter"></div>
  </div>

  <div class="clearfix mt2 text-gray-lightest type-5">
    <label class="col col-1 text-gray-lightest">.col-1</label>
    <label class="col col-3 text-gray-lightest">.col-3</label>
    <label class="col col-2 text-gray-lightest">.col-2</label>
    <label class="col col-6 text-gray-lightest">.col-6</label>
    <div class="col col-1 p2 border rounded fill-gray-lighter"></div>
    <div class="col col-3 p2 border rounded fill-gray-lighter"></div>
    <div class="col col-2 p2 border rounded fill-gray-lighter"></div>
    <div class="col col-6 p2 border rounded fill-gray-lighter"></div>
  </div>

  <div class="clearfix mt2 text-gray-lightest type-5">
    <label class="col col-4 offset-3 text-gray-lightest">.col-4 .offset-3</label>
    <div class="col col-4 offset-3 border rounded p2 fill-gray-lighter"></div>
  </div>

  <div class="clearfix mt2 text-gray-lightest type-5">
    <div class="col col-2 border rounded p2 fill-gray-lighter">
      
    </div>
  </div>

  <div class="clearfix mt2 text-gray-lightest type-5">
    <label class="col col-4 offset-5 text-gray-lightest">.col-4 .offset-5</label>
    <div class="col col-4 offset-5 border rounded p2 fill-gray-lighter"></div>
  </div>

  <div class="clearfix mt2 text-gray-lightest type-5">
    <label class="col col-4 offset-8 text-gray-lightest">.col-4 .offset-8</label>
    <div class="col col-4 offset-8 border rounded p2 fill-gray-lighter"></div>
  </div>

  <div class="clearfix mt2 text-gray-lightest type-5">
    <label class="col col-8 text-gray-lightest">.col-2 nested inside .col-8</label>
    <div class="col col-8 border rounded fill-gray-lighter">
      <div class="col col-2 p2 fill-yellow-light"></div>
    </div>
  </div>

</div>


<div class="mb4 clearfix">

  <h3 class="bold mt4">Grid With Gutters</h3>
  <p class="mb2">This is our 12-column grid with built-in gutters. To enable, add the .gutters class to your grid's .clearfix parent container. The resulting columns will have a padding-left and padding-right of 1%. Because these gutters are created with padding and not margin, you will need to nest your column content to avoid accidentally overriding the column layout.</p>


  <div class="gutters clearfix">

  <div class="clearfix text-gray-lightest type-5">
    <label class="col col-12 text-gray-lightest">.col-12</label>
    <div class="col col-12">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
  </div>

  <div class="clearfix mt2 text-gray-lightest type-5">
    <label class="col col-6 text-gray-lightest">.col-6</label>
    <label class="col col-6 text-gray-lightest">.col-6</label>
    <div class="col col-6">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
    <div class="col col-6">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
  </div>  

  <div class="clearfix mt2 text-gray-lightest type-5">
    <label class="col col-3 text-gray-lightest">.col-6 nested inside .col-3</label>
    <label class="col col-3 text-gray-lightest">.col-3</label>
    <label class="col col-3 text-gray-lightest">.col-3</label>
    <label class="col col-3 text-gray-lightest">.col-3</label>
    <div class="col col-3">
      <div class="border rounded fill-gray-lighter">
        <div class="col-6 fill-yellow-light p2"></div>
      </div>
    </div>
    <div class="col col-3">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
    <div class="col col-3">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
    <div class="col col-3">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
  </div>

  <div class="clearfix mt2 text-gray-lightest type-5">
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <label class="col col-1">.col-1</label>
    <div class="col col-1">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
    <div class="col col-1">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
    <div class="col col-1">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
    <div class="col col-1">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
    <div class="col col-1">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
    <div class="col col-1">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
    <div class="col col-1">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
    <div class="col col-1">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
    <div class="col col-1">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
    <div class="col col-1">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
    <div class="col col-1">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
    <div class="col col-1">
      <div class="border rounded fill-gray-lighter p2"></div>
    </div>
  </div>
 </div>

</div>

<div class="mb4 clearfix">

  <h3 class="bold mt4">Responsive Grid</h3>
  <p class="mb2">The responsive grid is implemented by adding breakpoint classes appended with the number of columns for that specific breakpoint. For example, if a div should take up the full width (.col-12) at the smallest breakpoint, and half width (.col-6) at the medium breakpoint, the div would get classes .sm-col-12 .md-col-6.</p>
  <div class="clearfix mt2 text-gray-lightest type-5">
    <label class="col sm-col-12 text-gray-lightest">.col .xs-col-12 .md-col-6 .lg-col-3</label>
    <div class="col xs-col-12 md-col-6 lg-col-3 border rounded p2 fill-gray-lighter"></div>
    <div class="col xs-col-12 md-col-6 lg-col-3 border rounded p2 fill-gray-lighter"></div>
    <div class="col xs-col-12 md-col-6 lg-col-3 border rounded p2 fill-gray-lighter"></div>
    <div class="col xs-col-12 md-col-6 lg-col-3 border rounded p2 fill-gray-lighter"></div>
  </div> 

</div> 


