<div class="xs-hide lg-show fill-green text-white">Large</div>
<div class="xs-hide md-show lg-hide fill-orange text-white">Medium</div>
<div class="xs-hide sm-show md-hide fill-blue text-white">Small</div>
<div class="xs-show sm-hide fill-pink text-white">Extra Small</div>