<h2 class="mb1">Utility Classes</h2>
<p class="type-3 mb4">Use these classes to layout and lightly style content.</p>

<!--Floats-->

<section class="mb3">
	<h3 class="mb2 bold">Floats</h3>

	<div class="clearfix">
		<div class="float-left">Left</div>
		<div class="float-right">Right</div>
	</div>

	<pre>
	  <code class="html"><%= '<div class="clearfix">' %><br><%= '<div class="float-left">Left</div>' %><br><%= '<div class="float-right">Right</div>' %><br><%= '</div>' %></code>
	</pre>

</section>

<!--Inline/Block-->
<!--Overflow-->
<!--Widths-->
<!--Margins/Paddings-->
<!--Positioning-->
<!--Z-Index-->
<!--Absolute Center-->
<!--Rounded/Circle-->
<!--Border-->
<!--Flex-->