//
// Modals
// --------------------------------------------------

.modal {
  background: rgba(255,255,255,.9);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: $space-2;
  z-index: $z4;
}

.modal__content {
  background: $fill-white;
  border: $border;
  border-radius: 3px;
  margin: 0 auto;
  position: relative;
  padding: $space-4;
}

.modal__close {
  width: 4rem;
  height: 4rem;

  padding: $space-1;
  float: right;
  margin: -1rem -3rem 0 0;


  &:hover {
    cursor: pointer;
  }
}

.modal__close-icon {
  width: 1rem;
  fill: $fill-gray--darker;

    &:hover {
      fill: $fill-blue;
    }
}





