//
// Modals
// --------------------------------------------------

.modal {
  background: rgba(255,255,255,.9);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: $space-2;
}

.modal__content {
  background: $fill-white;
  border: $border;
  border-radius: 3px;
  margin: 0 auto;
  position: relative;
  padding: $space-4;
}

.modal__close {
  background-image: svg-background($close-icon);
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 4rem;
  height: 4rem;
  fill: $fill-gray--darker;
  padding: $space-1;
  float: right;
  margin: -2rem -2rem 0 0;
  opacity: .4;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}





