//
// Popovers
// --------------------------------------------------


.popover {
  display: block;
  margin-bottom: $space-2;
  opacity: 0;
  bottom: 45px;
  padding: $space-2;
  pointer-events: none;
  position: absolute;
  width: 100%;
  border: $border-lighter;
  border-radius: $border-radius;
  background: $fill-white;
  // @include prefix (box-shadow 2px 2px 6px rgba(0, 0, 0, 0.4), webkit moz ms o);
  // @include prefix  ((transition all .25s ease-out));

}

.popover:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  

.popover:after {
  border-left: 10px solid rgba(0, 0, 0, .1);
  border-right: 10px solid rgba(0, 0, 0, .1);
  border-top: solid $fill-white 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

.popover-wrapper:hover .popover {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}