//
// Tags
// --------------------------------------------------

.tag {
  background-color: $fill-white;
  border: $border;
  border-radius: 3px;
  display: inline-block; 
  font-size: $text-5;
}

.tag--small {
  font-size: $text-6;
}

.tag__delete, .tag__text, .tag__link {
}

.tag__text, .tag__link, .tag__delete {
  padding: 0 .4rem;
}

.tag__link {
  &:hover {
  }
}

.tag__delete {
  display: inline-block; 
  border-right: $border;
}


.tag__delete-icon {
  width: .75rem;
  cursor: pointer;
  fill: $fill-gray;
  vertical-align: middle;
}

