//
// Tags
// --------------------------------------------------

.tag {
  background-color: $fill-white;
  border: $border;
  border-radius: 3px;
  display: inline-block;
}

.tag--small {
  font-size: $text-5;
}

.tag__delete, .tag__text, .tag__link {
  float: left;
}

.tag__text, .tag__link {
  padding: .25rem .5rem;
}

.tag__delete, .tag__link {

  &:hover {
    background: $fill-gray--lighter;
  }
}

.tag__delete {
  border-right: $border;
  cursor: pointer;
  padding: .25rem;

  &:before {
    content:"";
    height: 1rem;
    width: 1rem;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-image: svg-background($close-icon--light);
    background-size: .65rem;
  }
}


