//
// Block Grid Utility Classes
// --------------------------------------------------

@include generate-breakpoint-prefixes {
  &block-grid-1,
  &block-grid-2,
  &block-grid-3,
  &block-grid-4,
  &block-grid-5,
  &block-grid-6 { 
    font-size: 0        !important;
    margin: (-$space-1) !important;
    padding: 0          !important;
  }
}

.block-grid__item {
  display: inline-block      !important;
  margin: $space-1           !important;
  font-size: $base-font-size !important;
  vertical-align: top        !important;
}

@function calc-margin($block-grid-width) {
  @return calc(#{$block-grid-width} - #{$space-2});
}

@include generate-breakpoint-prefixes {
  &block-grid-1 .block-grid__item { width: 100% !important; }
  &block-grid-2 .block-grid__item { width: calc-margin(percentage(1/2)) !important; }
  &block-grid-3 .block-grid__item { width: calc-margin(percentage(1/3)) !important; }
  &block-grid-4 .block-grid__item { width: calc-margin(percentage(1/4)) !important; }
  &block-grid-5 .block-grid__item { width: calc-margin(percentage(1/5)) !important; }
  &block-grid-6 .block-grid__item { width: calc-margin(percentage(1/6)) !important; }
}
