//
// Button Classes
// --------------------------------------------------


// Reset Button
// -------------------------
// In an article on CSS-Tricks
// (http://css-tricks.com/use-button-element/),
// Chris Coyier explains that:
// "if a button doesn’t have a meaningful
// href, it’s a <button>"; which makes sense.
//
// This placeholder resets <button>'s
// default styling, so we can use
// <button>s where it makes without
// worrying about the styling.

@mixin button-reset {
  cursor: pointer                             !important;
  margin: 0                                   !important;
  padding: 0                                  !important;
  background-color: transparent               !important;
  // Reset unusual Firefox-on-Android default style;
  // https://github.com/necolas/normalize.css/issues/214
  background-image: none                      !important;
  border: 0                                   !important;
  white-space: nowrap                         !important;
  @include prefix((appearance: none), webkit);
  @include prefix((user-select: none));

  &,
  &:active:focus {
      outline: 0 !important;
  }
}

$button-height: 2.625rem;
$button-height-small: 2rem;

.button,
.button--disabled,
.button--small {
  @include button-reset;
  font-family: inherit          !important;
  height: $button-height        !important;
  padding: .5rem .875rem        !important;
  font-size: $text-4            !important;
  border-radius: 3px            !important;
  text-decoration: none         !important;
  cursor: pointer               !important;
  display: inline-block         !important;
  border: 1px solid transparent !important;
  text-align: center            !important;

  &:hover { transition: background-color .3s ease 0s !important; }
}

.button--primary {
  background-color: $fill-blue !important;
  color: $text-white           !important;

  &:not(.button--disabled):hover {
    background-color: darken($fill-blue, 20%) !important;
    color: $text-white                        !important;
  }

  &.button--disabled:hover        { color: $text-white                        !important; }
  &:not(.button--disabled):active { background-color: darken($fill-blue, 35%) !important; }
}

.button--secondary {
  border: 1px solid $fill-blue !important;
  color: $text-blue            !important;
  background: none             !important;

  &:not(.button--disabled):hover {
    background-color: $fill-blue !important;
    color: $text-white           !important;
  }

  &.button--disabled:hover        { color: $text-blue                         !important; }
  &:not(.button--disabled):active { background-color: darken($fill-blue, 20%) !important; }
}

.button--negative {
  background-color: $fill-red !important;
  color: $text-white          !important; 

  &:not(.button--disabled):hover {
    color: $text-white !important; 
    background-color: darken($fill-red, 20%) !important; 
  }

  &.button--disabled:hover        { color: $text-white                       !important; }
  &:not(.button--disabled):active { background-color: darken($fill-red, 35%) !important; }
}

.button--disabled {
  opacity: .3 !important;

  &:hover {
    cursor: default  !important;
    transition: none !important;
  }
}

.button--small {
  font-size: $text-5           !important;
  padding: .25rem .625rem      !important;
  height: $button-height-small !important;
}


.button--icon {
  >svg {
    width: 1rem         !important;
    height: 1rem        !important;
    fill: $fill-white   !important;
    margin-right: .5rem !important;
    position: relative  !important;
    top: .125rem        !important;
  }
}

.button--small.button--icon { 
  >svg {
    width: .875rem         !important;
    height: .875rem        !important;
    margin-right: .3125rem !important;
    position: relative     !important;
  }
}

.button--secondary.button--icon { 
  >svg        { fill: $fill-blue  !important; }
  &:hover svg { fill: $fill-white !important; }
}

// All social buttons have similar styles
// use this to generate their style
@mixin social-button($color) {
  background-color: $color !important;
  color: $text-white       !important;

  &:not(.button--disabled):hover {
    background-color: darken($color, 20%) !important;
    color: $text-white                    !important;
  }

  &.button--disabled:hover {
    color: $text-white !important;
  }

  &:not(.button--disabled):active {    
    background-color: darken($color, 35%) !important;
  }
}

.button--facebook  { @include social-button($fill-facebook); }
.button--twitter   { @include social-button($fill-twitter); }
.button--google    { @include social-button($fill-google); }
.button--linkedin  { @include social-button($fill-linkedin); }
.button--pinterest { @include social-button($fill-pinterest); }
.button--tumblr    { @include social-button($fill-tumblr); }
.button--youtube   { @include social-button($fill-youtube); }
.button--instagram { @include social-button($fill-instagram); }
