//
// Color Utility Classes
// --------------------------------------------------

// Color Fills
// -------------------------

.fill-red {               background-color: $fill-red             !important; }
.fill-red--lighter {      background-color: $fill-red--lighter    !important; }
.fill-pink {              background-color: $fill-pink            !important; }
.fill-blue {              background-color: $fill-blue            !important; }
.fill-yellow {            background-color: $fill-yellow          !important; }
.fill-yellow--lighter {   background-color: $fill-yellow--lighter !important; }
.fill-green {             background-color: $fill-green           !important; }
.fill-green--lighter {    background-color: $fill-green--lighter  !important; }
.fill-orange {            background-color: $fill-orange          !important; }
.fill-promoted-orange {   background-color: $fill-promoted-orange !important; }
.fill-gray--lighter {     background-color: $fill-gray--lighter   !important; }
.fill-gray {              background-color: $fill-gray            !important; }
.fill-gray--darker {      background-color: $fill-gray--darker    !important; }
.fill-white {             background-color: $fill-white           !important; }


// Social Fill Colors
// -------------------------

.fill-facebook {          background-color: $fill-facebook        !important; }
.fill-twitter {           background-color: $fill-twitter         !important; }
.fill-google {            background-color: $fill-google          !important; }
.fill-linkedin {          background-color: $fill-linkedin        !important; }
.fill-pinterest {         background-color: $fill-pinterest       !important; }
.fill-tumblr {            background-color: $fill-tumblr          !important; }
.fill-youtube {           background-color: $fill-youtube         !important; }
.fill-instagram {         background-color: $fill-instagram       !important; }
.fill-vine {              background-color: $fill-vine            !important; }
.fill-snapchat {          background-color: $fill-snapchat        !important; }

// Text Colors
// -------------------------

.text-gray {              color: $text-gray           !important; }
.text-white {             color: $text-white          !important; }
.text-gray--lighter {     color: $text-gray--lighter  !important; }
.text-gray--lightest {    color: $text-gray--lightest !important; }
.text-red {               color: $text-red            !important; }
.text-orange {            color: $text-orange         !important; }
.text-green {             color: $text-green          !important; }
.text-blue {              color: $text-blue           !important; }
