//
// Color Utility Classes
// --------------------------------------------------

// Color Fills
// -------------------------

.bg-red {               background-color: $bg-red             !important; }
.bg-red--lighter {      background-color: $bg-red--lighter    !important; }
.bg-pink {              background-color: $bg-pink            !important; }
.bg-blue {              background-color: $bg-blue            !important; }
.bg-yellow {            background-color: $bg-yellow          !important; }
.bg-yellow--lighter {   background-color: $bg-yellow--lighter !important; }
.bg-green {             background-color: $bg-green           !important; }
.bg-green--lighter {    background-color: $bg-green--lighter  !important; }
.bg-orange {            background-color: $bg-orange          !important; }
.bg-promoted-orange {   background-color: $bg-promoted-orange !important; }
.bg-gray--lighter {     background-color: $bg-gray--lighter   !important; }
.bg-gray {              background-color: $bg-gray            !important; }
.bg-gray--darker {      background-color: $bg-gray--darker    !important; }
.bg-white {             background-color: $bg-white           !important; }


// Social Fill Colors
// -------------------------

.bg-facebook {          background-color: $bg-facebook        !important; }
.bg-twitter {           background-color: $bg-twitter         !important; }
.bg-google {            background-color: $bg-google          !important; }
.bg-linkedin {          background-color: $bg-linkedin        !important; }
.bg-pinterest {         background-color: $bg-pinterest       !important; }
.bg-tumblr {            background-color: $bg-tumblr          !important; }
.bg-youtube {           background-color: $bg-youtube         !important; }
.bg-instagram {         background-color: $bg-instagram       !important; }
.bg-vine {              background-color: $bg-vine            !important; }
.bg-snapchat {          background-color: $bg-snapchat        !important; }

// Text Colors
// -------------------------

.text-gray {              color: $text-gray           !important; }
.text-white {             color: $text-white          !important; }
.text-gray--lighter {     color: $text-gray--lighter  !important; }
.text-gray--lightest {    color: $text-gray--lightest !important; }
.text-red {               color: $text-red            !important; }
.text-orange {            color: $text-orange         !important; }
.text-green {             color: $text-green          !important; }
.text-blue {              color: $text-blue           !important; }
