//
// Table Utility Classes
// --------------------------------------------------

// Border
// -------------------------

.table-border {
  border:        $border !important;
  border-radius: 3px     !important;

  th               { border-bottom: $border !important; }
  tr td            { border-bottom: $border !important; }
  tr:last-child td { border-bottom: 0       !important; }
}

.table-border td, 
.table-border th {
  padding: $space-2 !important;
}



// Layout
// -------------------------

.table {
  border-collapse: separate !important;
  border-spacing:  0        !important;
  display:         table    !important;
}

.td, 
.th { display: table-cell !important; }
.tr { display: table-row !important; }
