// Color Fills

.fill-red {
  background-color: $fill-red;
}

.fill-red--lighter {
  background-color: $fill-red--lighter;
}

.fill-pink {
  background-color: $fill-pink;
}

.fill-blue {
  background-color: $fill-blue;
}

.fill-yellow {
  background-color: $fill-yellow;
}

.fill-yellow--lighter {
  background-color: $fill-yellow--lighter;
}

.fill-green {
  background-color: $fill-green;
}

.fill-green--lighter {
  background-color: $fill-green--lighter;
}

.fill-orange {
  background-color: $fill-orange;
}

.fill-gray--lighter {
  background-color: $fill-gray--lighter;
}

.fill-gray {
  background-color: $fill-gray;
}

.fill-gray--darker {
  background-color: $fill-gray--darker;
}

.fill-white {
  background-color: $fill-white;
}


// Social Fill Colors

.fill-facebook {
  background-color: $fill-facebook;
}

.fill-twitter {
  background-color: $fill-twitter;
}

.fill-google {
  background-color: $fill-google;
}

.fill-linkedin {
  background-color: $fill-linkedin;
}

.fill-pinterest {
  background-color: $fill-pinterest;
}

.fill-tumblr {
  background-color: $fill-tumblr;
}

.fill-youtube {
  background-color: $fill-youtube;
}

.fill-instagram {
  background-color: $fill-instagram;
}

.fill-vine {
  background-color: $fill-vine;
}

.fill-snapchat {
  background-color: $fill-snapchat;
}


// Text Colors

body, 
.text-gray {
  color: $text-gray;
}

.text-white {
  color: $text-white;
}

.text-gray--lighter {
  color: $text-gray--lighter;
}

.text-gray--lightest {
  color: $text-gray--lightest;
}

.text-red {
  color: $text-red;
}

.text-orange {
  color: $text-orange;
}

.text-green {
  color: $text-green;
}

a, 
.text-blue {
  color: $text-blue;
}
