@font-face {
  font-family: "Caponi-Slab-Semibold";
  src: url("fonts/Caponi/CaponiSlab-Semibold-Web.eot"); // IE9 Compat Modes 
  src: url("fonts/Caponi/CaponiSlab-Semibold-Web.eot?#iefix") format("embedded-opentype"), // IE6-IE8 
      url("fonts/Caponi/CaponiSlab-Semibold-Web.woff") format("woff"), // Pretty Modern Browsers 
      url("fonts/Caponi/CaponiSlab-Semibold-Web.ttf")  format("truetype"), // Safari, Android, iOS 
      url("fonts/Caponi/CaponiSlab-Semibold-Web.svg#svgFontName") format("svg"); // Legacy iOS 
  font-weight: 600; 
  font-style: normal; 
  font-stretch: normal; 
}

@font-face {
  font-family: "Proxima-Nova";
  src: url("fonts/Proxima/ProximaNova-Reg-webfont.eot"); // IE9 Compat Modes 
  src: url("fonts/Proxima/ProximaNova-Reg-webfont.woff.eot?#iefix") format("embedded-opentype"), // IE6-IE8 
      url("fonts/Proxima/ProximaNova-Reg-webfont.woff") format("woff"), // Pretty Modern Browsers 
      url("fonts/Proxima/ProximaNova-Reg-webfont.ttf")  format("truetype"), // Safari, Android, iOS 
      url("fonts/Proxima/ProximaNova-Reg-webfont.svg#svgFontName") format("svg"); // Legacy iOS 
  font-weight: 500; 
  font-style: normal; 
  font-stretch: normal; 
}

@font-face { 
  font-family: "Proxima-Nova-Sbold"; 
  src: url("fonts/Proxima/ProximaNova-Sbold-webfont.eotf") format("eot");
  src: url("fonts/Proxima/ProximaNova-Sbold-webfont.woff") format("woff"),
       url("fonts/Proxima/ProximaNova-Sbold-webfont.ttf") format("ttf"),
       url("fonts/Proxima/ProximaNova-Sbold-webfont.svg") format("svg");
  font-weight: 600; 
  font-style: normal; 
  font-stretch: normal; 
}
