// Headers

body, h1, h2, h3, h4, h5, h6, .type-1, .type-2, .type-3, .type-4, .type-5, .type-6 {
  line-height: $line-height;
}

h1{
  font-size: $type-1;
}

h2 {
  font-size: $type-2;
}

h3 {
  font-size: $type-3;
}

h4 {
  font-size: $type-4;
}

h5 {
  font-size: $type-5;
}

h6, .type-6 {
  font-size: 0.75rem;
  &.slab {
      font-family:'Proxima Nova';
    }
}

// Type Size Classes + Responsive Prefixes

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  $breakpoint-prefix: breakpoint-prefix($breakpoint-name);  
  @include media-query($breakpoint-name){

		.#{$breakpoint-prefix}type-1 {
		  font-size: $type-1;
		}

		.#{$breakpoint-prefix}type-2 {
		  font-size: $type-2;
		}

		.#{$breakpoint-prefix}type-3 {
		  font-size: $type-3;
		}

		.#{$breakpoint-prefix}type-4 {
		  font-size: $type-4;
		}

		.#{$breakpoint-prefix}type-5 {
		  font-size: $type-5;
		}

		.#{$breakpoint-prefix}type-6 {
		  font-size: $type-6;
		}

	}
}

// Typography Emphasis and Styling

.regular, 
.normal { 
	font-weight: $regular;
}

strong, 
b, 
.bold { 
	font-weight: $bold;
}

em, 
i, 
.italic { 
	font-style: italic;
}

.caps  { 
	text-transform: uppercase;
}

.text-left { 
	text-align: left;
}

.text-center { 
	text-align: center;
}

.text-right { 
	text-align: right;
}

.text-justify { 
	text-align: justify;
}

.nowrap { 
	white-space: nowrap;
}

.truncate { 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.decoration-none{
	text-decoration: none;
}

.decoration-underline{
	text-decoration: underline;
}

.decoration-line-through{
	text-decoration: line-through;
}

.no-wrap {
  white-space: nowrap;
}

// Typeface Classes 

.slab {
  font-family: 'Caponi-Slab-Semibold';
  line-height:1.1;
  -moz-font-feature-settings: "liga", "kern";
  -moz-font-feature-settings:"liga=1, kern=1";
  -ms-font-feature-settings:"liga", "kern";
  -o-font-feature-settings:"liga", "kern";
  -webkit-font-feature-settings:"liga", "kern";
  font-feature-settings: "liga", "kern";
  &.bold {
    font-family: 'Caponi-Slab-Semibold';
    font-weight: normal;
  }
  &.italic {
    font-family: 'Caponi-Slab-Semibold';
  }
}

// Caponi should never be an h6 or .type-6

.slab h6,
h6.slab, 
.type-6 .slab,
.slab.type-6 {
  font-family: 'Proxima-Nova';
  font-weight: normal;
}





