<h2 class="bold border-bottom mb4 pb2">Buttons</h2>

<section class="mb4">
  <h3 class="mb2 bold">Buttons</h3>

  <div class="xs-col-12 lg-col-9 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block type-4 bold">Primary button</label>
      <label class="block type-4 text-gray-lighter">The primary button is used for actions where the button takes a forceful action. It’s used for cases like Yes/No and Add/Cancel. It’s also used for things like Sign Up and Log in. </label>
    </div>
  <div class="fill-white p3">
    <button class="button button--primary mb2">Add</button>
    <pre><code class="html"><%='<button class="button button--primary">Submit</button>'%></code></pre>
    </div>
  </div>

  <div class="xs-col-12 lg-col-9 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block type-4 bold">Secondary button</label>
      <label class="block type-4 text-gray-lighter">The secondary button is used for actions that can hang back and are not supposed to be loud and in your face. This button is used for things like Yes/No and Add/Cancel. It also can be used to load more content, like Load more and More news. This button does not have a background fill. </label>
    </div>
  <div class="fill-white p3">
    <button class="button button--secondary mb2">Cancel</button>
    <pre><code class="html"><%='<button class="button button--secondary">Cancel</button>'%></code></pre>
    </div>
  </div>

  </section>
