<h2 class="bold border-bottom mb4 pb2">Forms</h2>

<section class="mb4">
  <h3 class="mb2 bold">Inputs</h3>

  <div class="col-12 clearfix mb4 fill-gray-lighter p4">  
    <label class="block mb1 type-4">Text input</label>
    <label class="block mb3 type-5 text-gray-lighter">This is a default text input.</label>
    <div class="fill-white p4 border">
      <input type="text" class="text-input mb2">
      <pre><code class="html"><%= '<label class="block mb2 type-4">Text input</label>'%><br /><%= '<input type="text" class="text-input mb2">' %> </code><code class="css"><%= ".class { background: $fill-red; }" %> </code></pre>
    </div>
  </div>

   <div class="mb4">
    <label class="block mb2 type-4">Text input with placeholder text</label>
    <input type="text" placeholder="Type here" class="text-input mb2">
  </div>

   <div class="mb4">
    <label class="block mb2 type-4">Textarea</label>
    <textarea class="textarea mb2"></textarea>
  </div>
  </div>

   <div class="mb4">
    <label class="block mb1 type-4">select</label>
    <select class="select">
      <option value="choose">Choose a personality</option>
      <option value="amazing">Amazing</option>
      <option value="boring">Boring</option>
      <option value="fun">Fun</option> 
    </select>

  </div>

  <div class="mb4">
    <label class="block mb1 type-4">radio buttons</label>
    
    <input type="radio" class="radio" id="option_1" value="option_1" name="options">
    <label class="radio-label" for="option_1">Option 1</label> 
    
    <input type="radio" class="radio" id="option_2" value="option_2" name="options">
    <label class="radio-label" for="option_2">Option 2</label>
  </div>

  <div class="mb4">
    <label class="block mb1 type-4">checkbox</label>
    <input type="checkbox" class="checkbox" id="check_1" value="check_1" name="checkboxes">
    <label for="check_1">Option 1</label> 
    <input type="checkbox" class="checkbox" id="check_2" value="check_2" name="checkboxes">
    <label for="check_2">Option 2</label>
  </div>

   <div class="mb4">
    <label class="block mb1 type-4">date</label>
    <label class="form-label">Date of birth</label> 
    <input type="text" placeholder="MM" class="date">
    <input type="text" placeholder="DD" class="date">
    <input type="text" placeholder="YYYY" class="date date--year">
  </div>
</section>

<section class="mb4">
  <h3 class="mb2 bold">Labels and Messaging</h3>

  <div class="mb4">
    <label class="block mb1 type-4">.form-label</label>
    <label class="form-label">Your name</label>
    <input type="text" class="text-input">
  </div>

  <div class="mb4">
    <label class="block mb1 type-4">.form-label--required</label>
    <label class="form-label">Your name <span class="form-label--required">*</span></label>
    <input type="text" class="text-input">
  </div>

  <div class="mb4">
    <label class="block mb1 type-4">.form-label--optional</label>
    <label class="form-label">Link <span class="form-label--optional">(optional)</span></label>
    <input type="text" class="text-input">
  </div>
  
  <div class="mb4">
    <label class="block mb1 type-4">.form-helper</label>
    <label class="form-label">Your username</label>
    <input type="text" class="text-input">
    <label class="form-helper"> BTW, your username cannot be changed</label>
  </div>

   <div class="mb4 form-warning">
    <label class="block mb1 type-4">.form-warning</label>
    <label class="form-label">Your name</label>
    <input type="text" class="text-input">
    <label class="form-feedback">Caps lock is on!</label>
  </div>

   <div class="mb4 form-success">
    <label class="block mb1 type-4">.form-success</label>
    <label class="form-label">Your name</label>
    <input type="text" class="text-input">
    <label class="form-feedback">Looks good!</label>
  </div>

  <div class="mb4 form-error">
    <label class="block mb1 type-4">.form-error</label>
    <label class="form-label">Your name</label>
    <input type="text" class="text-input">
    <label class="form-feedback">This is an error message about your password.</label>
  </div>

    <div class="mb4 form-error">
    <label class="block mb1 type-4">.form-error .helper <br>You can use these messages together. If a field has helper text, the error (or success/warning) message appears above it.</label>
    <label class="form-label">Your name</label>
    <input type="text" class="text-input">
    <label class="form-feedback">This is an error message about your password.</label>
    <label class="form-helper"> BTW, your username cannot be changed</label>
  </div>
  </div>
</section>
