<h2 class="mb2">Forms</h2>

<section class="mb4">
  <h3 class="mb2 bold">Inputs</h3>

  <div class="mb3">
    <label class="block mb1 type-4">.text-input</label>
    <input type="text" class="text-input">
  </div>
</section>

<section class="mb4">
  <h3 class="mb2 bold">Labels and Messaging</h3>

  <div class="mb3">
    <label class="block mb1 type-4">.form-label</label>
    <label class="form-label">Your name</label>
    <input type="text" class="text-input">
  </div>
    <div class="mb3">
    <label class="block mb1 type-4">.form-label-required</label>
    <label class="form-label">Your name <span class="form-label-required">*</span></label>
    <input type="text" class="text-input">
  </div>
  <div class="mb3">
    <label class="block mb1 type-4">.form-label-optional</label>
    <label class="form-label">Link <span class="form-label-optional">(optional)</span></label>
    <input type="text" class="text-input">
  </div>
   <div class="mb3">
    <label class="block mb1 type-4">.form-helper</label>
    <label class="form-label">Your username</label>
    <input type="text" class="text-input">
    <label class="form-helper"> BTW, your username cannot be changed</label>
  </div>
   <div class="mb3">
    <label class="block mb1 type-4">.form-warning (WHAT DO I CALL THIS?)</label>
    <label class="form-label warning">Your name</label>
    <input type="text" class="text-input input-warning">
    <label class="form-helper warning">Caps lock is on!</label>
  </div>
</section>