<h2 class="mb2">Forms</h2>

<section>
  <h3 class="mb2 bold">Inputs</h3>
  <div class="mb3">
    <label class="block mb1 type-4">.text-input</label>
    <input type="text" class="text-input border type-3 fill-white">
  </div>
</section>

<section>
  <h3 class="mb2 bold">Labels and Messaging</h3>
  <div class="mb3">
    <label class="block mb1 type-4">.form-label</label>
    <label class="form-label">Your Name</label>
    <input type="text" class="text-input border type-3 fill-white">
  </div>

    <div class="mb3">
    <label class="block mb1 type-4">.form-label-optional</label>
    <label class="form-label">Your Name <span class="form-label-optional">(optional)</span></label>
    <input type="text" class="text-input border type-3 fill-white">
  </div>
</section>