<h2 class="bold border-bottom mb4 pb2">Messaging</h2>


<section class="mb4">
  <h3 class="mb2 bold">Default page level messaging</h3>

  <div class="xs-col-12 lg-col-9 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block type-4 bold">Error message</label>
      <label class="block type-4 text-gray-lighter">An error message appears when something is wrong!</label>
    </div>
  <div class="fill-white p3">
    <div class="page-message page-message--error">Oh no, something went wrong.</div>
    <pre><code class="html"><%='<div class="page-message page-message--error">Oh no, something went wrong.</div>'%></code></pre>
    </div>
  </div>

  <div class="xs-col-12 lg-col-9 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block type-4 bold">Success message</label>
      <label class="block type-4 text-gray-lighter">An error message appears when something is wrong!</label>
    </div>
  <div class="fill-white p3">
    <div class="page-message page-message--success">Your settings have been saved.</div>
    <pre><code class="html"><%='<div class="page-message page-message--success">Your settings have been saved.</div>'%></code></pre>
    </div>
  </div>


<section class="mb4">
  <h3 class="mb2 bold">Default page level messaging with action</h3>

  <div class="xs-col-12 lg-col-9 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block type-4 bold">Error message with link</label>
      <label class="block type-4 text-gray-lighter">This error message appears when there is an error and you want to link to the exact spot on the page where the error is occuring.</label>
    </div>
  <div class="fill-white p3">
    <div class="page-message page-message--error"><a href="">Oh no, something went wrong.</a></div>
    <pre><code class="html"><%='<div class="page-message page-message--error">Oh no, something went wrong.</div>'%></code></pre>
    </div>
  </div>