//
// Color Utility Classes
// --------------------------------------------------

// Color Fills
// -------------------------

.fill-red {               background-color: $fill-red              !important; }
.fill-red-lighter {       background-color: $fill-red-lighter      !important; }
.fill-pink {              background-color: $fill-pink             !important; }
.fill-blue {              background-color: $fill-blue             !important; }
.fill-yellow {            background-color: $fill-yellow           !important; }
.fill-yellow-lighter {    background-color: $fill-yellow-lighter   !important; }
.fill-purple {            background-color: $fill-purple           !important; }
.fill-teal {              background-color: $fill-teal             !important; }
.fill-green {             background-color: $fill-green            !important; }
.fill-green-lighter {     background-color: $fill-green-lighter    !important; }
.fill-orange {            background-color: $fill-orange           !important; }
.fill-promoted-orange {   background-color: $fill-promoted-orange  !important; }
.fill-gray-lighter {      background-color: $fill-gray-lighter     !important; }
.fill-gray-light {        background-color: $fill-gray-light       !important; }
.fill-gray {              background-color: $fill-gray             !important; }
.fill-gray-darker {       background-color: $fill-gray-darker      !important; }
.fill-white {             background-color: $fill-white            !important; }

// Text Colors
// -------------------------

.text-gray {              color: $text-gray            !important; }
.text-white {             color: $text-white           !important; }
.text-gray-lighter {      color: $text-gray-lighter    !important; }
.text-gray-lightest {     color: $text-gray-lightest   !important; }
.text-red {               color: $text-red             !important; }
.text-pink {              color: $text-pink            !important; }
.text-orange {            color: $text-orange          !important; }
.text-promoted-orange {   color: $text-promoted-orange !important; }
.text-purple {            color: $text-purple          !important; }
.text-green {             color: $text-green           !important; }
.text-blue {              color: $text-blue            !important; }


// SVG Fill Colors
// -------------------------

.svg-gray {              fill: $text-gray           !important; }
.svg-white {             fill: $text-white          !important; }
.svg-gray-lighter {      fill: $text-gray-lighter   !important; }
.svg-gray-lightest {     fill: $text-gray-lightest  !important; }
.svg-red {               fill: $text-red            !important; }
.svg-pink {              fill: $text-pink           !important; }
.svg-orange {            fill: $text-orange         !important; }
.svg-purple {            fill: $text-purple         !important; }
.svg-teal {              fill: $fill-teal           !important; }
.svg-green {             fill: $text-green          !important; }
.svg-blue {              fill: $text-blue           !important; }
