// Social Fill Colors
// -------------------------
.fill-google {            background-color: $fill-google          !important; }
.fill-linkedin {          background-color: $fill-linkedin        !important; }
.fill-pinterest {         background-color: $fill-pinterest       !important; }
.fill-tumblr {            background-color: $fill-tumblr          !important; }
.fill-youtube {           background-color: $fill-youtube         !important; }
.fill-instagram {         background-color: $fill-instagram       !important; }
.fill-vine {              background-color: $fill-vine            !important; }
.fill-snapchat {          background-color: $fill-snapchat        !important; }
.fill-buzzfeed {          background-color: $fill-buzzfeed        !important; }

// SVG Fill Social Colors
// -------------------------
.svg-google {            fill: $fill-google          !important; }
.svg-linkedin {          fill: $fill-linkedin        !important; }
.svg-pinterest {         fill: $fill-pinterest       !important; }
.svg-tumblr {            fill: $fill-tumblr          !important; }
.svg-youtube {           fill: $fill-youtube         !important; }
.svg-instagram {         fill: $fill-instagram       !important; }
.svg-vine {              fill: $fill-vine            !important; }
.svg-snapchat {          fill: $fill-snapchat        !important; }
.svg-buzzfeed {          fill: $fill-buzzfeed        !important; }
