// Social Fill Colors
// -------------------------

.fill-facebook {          background-color: $fill-facebook        !important; }
.fill-twitter {           background-color: $fill-twitter         !important; }

// SVG Fill Social Colors
// -------------------------
.svg-facebook {          fill: $fill-facebook        !important; }
.svg-twitter {           fill: $fill-twitter         !important; }
