//
// Table Styles
// --------------------------------------------------

table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;

  @include tabular-figures;
}

th {
  text-align: left;
  font-weight: $bold;
  vertical-align: bottom;
}

th,
td {
  padding: $space-1;
}

td {
  vertical-align: middle;
}
