// Normalize Resets and Rem values


// Ensure we only define type using our default classes.

small {
  font-size: 1rem;
}

sub,
sup {
  font-size: 1rem;
}


// Switching from ems to rems for consistency and our own sanity.

sup {
  top: -.5rem;
}

sub {
  bottom: -.25rem;
}

code,
kbd,
pre,
samp {
  font-size: 1rem;
}


// We should define fieldset with classes if we're going to define it.

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


// Making sure that bold is 600, since we use semibold instead.

optgroup {
  font-weight: 600;
}


// Resets

html, 
body, 
div, 
span, 
applet, 
object, 
iframe,
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
blockquote, 
pre,
a, 
abbr, 
acronym, 
address, 
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


// We should establish our own style for blockquotes.

blockquote, 
q {
  quotes: none;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
  content: "";
  content: none;
}
