<h1 class="bold border-bottom mb4 py3">Colors</h1>

<section class="mb4 pb2">
	<h2 class="mb1 bold">Fill Colors</h2>
	<p class="mb3">We use a number of fill colors on BuzzFeed. When choosing a color, take into account previous usages and how the user may interpret the color as part of the whole system.</p>
	
	<div class="clearfix mb3">
		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-red</label>
				<div class="p3 circle fill-red inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#e32</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-red</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-blue</label>
				<div class="p3 circle fill-blue inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#07e</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-blue</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-yellow</label>
				<div class="p3 circle fill-yellow inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#fe0</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-yellow</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-yellow-light</label>
				<div class="p3 circle fill-yellow-light inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#fffab6</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-yellow-light</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-orange</label>
				<div class="p3 circle fill-orange inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#f49c1a</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-orange</label>
			</div>
		</div>


		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-green</label>
				<div class="p3 circle fill-green inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#6fb824</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-green</label>
			</div>
		</div>


		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-pink</label>
				<div class="p3 circle fill-pink inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#eb2649</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-pink</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-gray-lighter</label>
				<div class="p3 circle fill-gray-lighter inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#f4f4f4</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-gray-lighter</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-gray</label>
				<div class="p3 circle fill-gray inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#aaa</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-gray</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-gray-darker</label>
				<div class="p3 circle fill-gray-darker inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#222</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-gray-darker</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-white</label>
				<div class="p3 circle border fill-white inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#fff</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-white</label>
			</div>
		</div>

	</div>

</section>

<section class="mb4 pb2">
	<h2 class="mb1 bold">Social Fill Colors</h2>
	<p class="mb3">As the title implies, these colors are for representing social networks only. <span class="text-red">Do not use these colors for anything else, please.</span></p>	
	
<div class="clearfix mb3">
		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-facebook</label>
				<div class="p3 circle fill-facebook inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#3b5998</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-facebook</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-twitter</label>
				<div class="p3 circle fill-twitter inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#55acee</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-twitter</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-google</label>
				<div class="p3 circle fill-google inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#dd4b39</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-google</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-linkedin</label>
				<div class="p3 circle fill-linkedin inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#0077b5</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-linkedin</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-pinterest</label>
				<div class="p3 circle fill-pinterest inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#bd081c</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-pinterest</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-tumblr</label>
				<div class="p3 circle fill-tumblr inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#36465d</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-tumblr</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-youtube</label>
				<div class="p3 circle fill-youtube inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#cd201f</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-youtube</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-instagram</label>
				<div class="p3 circle fill-instagram inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#517fa4</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-instagram</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-vine</label>
				<div class="p3 circle fill-vine inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#00b488</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-vine</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.fill-snapchat</label>
				<div class="p3 circle fill-snapchat inline-block m1"></div>
				<label class="block type-5 text-gray-lightest js-highlight">#fffc00</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$fill-snapchat</label>
			</div>
		</div>
	
	</div>

</section>

<section>
	<h2 class="mb1 bold">Text Colors</h2>
	<p class="mb3">When choosing a text color, take into account the standard usage (green for success, for example) and make sure you're not subverting or misrepresenting what a piece of text means by using the wrong color.</p>

<div class="clearfix mb3">
		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.text-gray</label>
				<p class="text-gray type-3 p1">This is the darkest gray and default text color.</p>
				<label class="block type-5 text-gray-lightest js-highlight">#333</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$text-gray</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.text-gray-lighter</label>
				<p class="text-gray-lighter type-3 p1">This is a little lighter gray.</p>
				<label class="block type-5 text-gray-lightest js-highlight">#666</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$text-gray-lighter</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.text-gray-lightest</label>
				<p class="text-gray-lightest type-3 p1">This is the lightest gray text we use. Go no lighter!</p>
				<label class="block type-5 text-gray-lightest js-highlight">#999</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$text-gray-lightest</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.text-red</label>
				<p class="text-red type-3 p1">This is red text for both brand text/headlines and error messaging. Be careful when mixing!</p>
				<label class="block type-5 text-gray-lightest js-highlight">#e32</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$text-red</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.text-orange</label>
				<p class="text-orange type-3 p1">This is orange text for warning messaging.</p>
				<label class="block type-5 text-gray-lightest js-highlight">#f49c1a</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$text-orange</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.text-green</label>
				<p class="text-green type-3 p1">This is orange text for success messaging.</p>
				<label class="block type-5 text-gray-lightest js-highlight">#6fb824</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$text-green</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 mb1 js-highlight">.text-blue</label>
				<p class="text-blue type-3 p1">This is our standard link color. It's on links by default.</p>
				<label class="block type-5 text-gray-lightest js-highlight">#07e</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$text-blue</label>
			</div>
		</div>

		<div class="col xs-col-12 md-col-6 lg-col-3 p1">
			<div class="text-center border rounded">
				<label class="block type-4 text-gray bold fill-gray-lighter border-bottom p1 js-highlight">.text-white</label>
				<p class="text-white fill-gray type-3 p1 m1">White text to be used on dark backgrounds.</p>
				<label class="block type-5 text-gray-lightest js-highlight">#fff</label>
				<label class="block type-5 text-gray-lightest mb1 js-highlight">$text-white</label>
			</div>
		</div>

	</div>

</section>