<h2 class="mb2">Colors</h2>
<h3 class="mb2 bold">Fill Colors</h3>
<div class="inline-block mr2">
	<label class="h4 block mb1">.fill-red</label>
	<div class="inline-block circle p3 fill-red"></div>
</div>
<div class="inline-block mr2">
	<label class="h4 block mb1">.fill-pink</label>
	<div class="inline-block circle p3 fill-pink"></div>
</div>
<div class="inline-block mr2">
	<label class="h4 block mb1">.fill-blue</label>
	<div class="inline-block circle p3 fill-blue"></div>
</div>
<div class="inline-block mr2">
	<label class="h4 block mb1">.fill-yellow</label>
	<div class="inline-block circle p3 fill-yellow"></div>
</div>
<div class="inline-block mr2">
	<label class="h4 block mb1">.fill-gray</label>
	<div class="inline-block circle p3 fill-gray"></div>
</div>
<div class="inline-block mr2">
	<label class="h4 block mb1">.fill-gray-darker</label>
	<div class="inline-block circle p3 fill-gray-darker"></div>
</div>