<h2 class="mb2">Colors</h2>

<section class="mb3">
	<h3 class="mb2 bold">Fill Colors</h3>

	<div class="inline-block mr2">
		<label class="type-4 block mb1">.fill-red</label>
		<div class="inline-block circle p3 fill-red border"></div>
	</div>
	<div class="inline-block mr2">
		<label class="type-4 block mb1">.fill-pink</label>
		<div class="inline-block circle p3 fill-pink border"></div>
	</div>
	<div class="inline-block mr2">
		<label class="type-4 block mb1">.fill-blue</label>
		<div class="inline-block circle p3 fill-blue border"></div>
	</div>
	<div class="inline-block mr2">
		<label class="type-4 block mb1">.fill-yellow</label>
		<div class="inline-block circle p3 fill-yellow border"></div>
	</div>
	<div class="inline-block mr2">
		<label class="type-4 block mb1">.fill-gray</label>
		<div class="inline-block circle p3 fill-gray border"></div>
	</div>
	<div class="inline-block mr2">
		<label class="type-4 block mb1">.fill-gray-darker</label>
		<div class="inline-block circle p3 fill-gray-darker border"></div>
	</div>
	<div class="inline-block mr2">
		<label class="type-4 block mb1">.fill-white</label>
		<div class="inline-block circle p3 fill-white border"></div>
	</div>
</section>

<section>
	<h3 class="mb2 bold">Text Colors</h3>

	<div class="mb2">
		<label class="block mb1 type-4">.text-gray</label>
		<p class="text-gray type-2">This is the darkest gray and default text color.</p>
	</div>
	<div class="mb2">
		<label class="block mb1 type-4">.text-gray-lighter</label>
		<p class="text-gray-lighter type-2">This is a little lighter gray.</p>
	</div>
	<div class="mb2">
		<label class="block mb1 type-4">.text-gray-lightest</label>
		<p class="text-gray-lightest type-2">This is the lightest gray text we use. Go no lighter!</p>
	</div>
	<div class="mb2">
		<label class="block mb1 type-4">.text-red</label>
		<p class="text-red type-2">This is red text for both brand text/headlines and error messaging. Be careful when mixing!</p>
	</div>
	<div class="mb2">
		<label class="block mb1 type-4">.text-orange</label>
		<p class="text-orange type-2">This is orange text for warning messaging.</p>
	</div>
	<div class="mb2">
		<label class="block mb1 type-4">.text-green</label>
		<p class="text-green type-2">This is green text for success messaging.</p>
	</div>
	<div class="mb2">
		<label class="block mb1 type-4">.text-blue</label>
		<a href="#" class="text-blue type-2">This is our standard link color. It's on links by default.</a>
	</div>


</section>