
<div class="flex-last my4 mx4">
  <h5 class="pb1 header__label">H1: 2.25 rem/36px</h6>
  <h1 class="pb3">Yale Will Offer Its First Online Degree</h1>

  <h5 class="pb1 header__label">H2: 1.375rem/22px</h6>
  <h2 class="pb3">Yale Will Offer Its First Online Degree</h2>

  <h5 class="pb1 header__label">H3: 1.125rem/18px</h6>
  <h3 class="pb3">Yale Will Offer Its First Online Degree</h3>

  <h5 class="pb1 header__label">H4: 1rem/16px</h6>
  <h4 class="pb3">Yale Will Offer Its First Online Degree</h4>

  <h5 class="pb1 header__label">H5: .75rem/12px</h6>
  <h5 class="pb3">Yale Will Offer Its First Online Degree</h5>

  <h5 class="pb1 header__label">H6:.625rem/10px</h6>
  <h6 class="pb3">Yale Will Offer Its First Online Degree</h6>
</div>