//
// Forms Helpers
// --------------------------------------------------

// hide from humans not screen readers
@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// hide from humans not screen readers
@mixin select {
  background-image: svg-background($down-caret);
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  padding-right: 42px;
  height: $input-height + .1rem;
}

// SVG Background Images
// -------------------------

// include an svg icon as a background image using variables
@function svg-background($svg-variable) {
  @return url("data:image/svg+xml,#{$svg-variable}");
}
