//
// Forms Base Styles
// --------------------------------------------------

.text-input,
.textarea,
.select,
.date {
	font-family: inherit;
  background: $fill-white;
  font-size: $type-3;
  line-height: $input-height;
  padding: 0 $space-2;
  border: 1px solid $fill-gray;
}

.textarea {
  line-height: $line-height;
  min-height: $input-height * 2;
  padding: $space-2; 
}

.select {
  background-image: svg-background($down-caret);
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) center;
	-webkit-appearance: none;
  -webkit-border-radius: 0px;
  padding-right: 42px;
}

.radio {
  @include visuallyhidden;
}

.radio-label {
  cursor:pointer; 
  margin: 0 0 6px 0;
  display: block;
}

.radio-label:before {
  content: "";
  display:inline-block;
  width:14px;
  height:14px;
  margin: 0 6px 0 0;
  position: relative;
  bottom: -2px;
  border-radius: 50%;
  background-color: $fill-white;
  border: 1px solid #aaa;
  box-sizing: border-box;
}

.radio:checked + .radio-label:before{
  background-color: white;   
  border: 5px solid #07e;
}


.checkbox {
  @include visuallyhidden;
}

.checkbox + label {
  cursor:pointer; 
  margin: 0 0 6px 0;
  display: block;
}

.checkbox + label:before {
  content: "";
  display:inline-block;
  width:14px;
  height:14px;
  margin: 0 6px 0 0;
  position: relative;
  bottom: -2px;
  border-radius: 30%;
  background-color: $fill-white;
  border: 1px solid #aaa;
  box-sizing: border-box;
}

.checkbox:checked + label:before{
  background-image: url("data:image/svg+xml;utf8,#{$checkmark}");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $fill-blue;   
  border-style: none;
}

.date {
  display: inline;
  width: $space-4 * 2;
  margin-right: $space-1;
}

.date--year {
  width: 5rem;
}

.form-label {
	display: block;
	font-weight: 600;
	margin-bottom: $space-1; 
}

.form-label--optional {
	color: $text-gray-lightest;
	font-weight: normal;
}

.form-label--required {
	color: $text-red;
	font-weight: normal;
}

.form-helper {
	color: $text-gray-lightest;
	display: block;
	margin-top: $space-1;
  font-size: $type-5; 
}

.form-feedback {
  display: block;
  margin-top: $space-1; 
  font-size: $type-5; 
}

.form-warning {
  .form-feedback,
  .form-label {
    color: $text-orange;  
  }

	.text-input	{
		border-color: $fill-orange;	
	}
}

.form-success {
  .form-feedback,
  .form-label {
    color: $text-green;  
  }

  .form-feedback:before{
    content: "";
    height: 16px;
    width: 16px;
    display:inline-block;
    background-image: url("data:image/svg+xml;utf8,#{$checkmark}");
    background-repeat: no-repeat;
    background-color: $fill-green;
    border-radius: 50%;
    background-position: center;
    margin: 0 6px 0 0;
    position: relative;
    bottom: -2px;
  }

  .text-input {
    border-color: $fill-green; 
  }
}

.form-error {
  .form-feedback,
  .form-label {
    color: $text-red;  
  }

  .text-input {
    border-color: $fill-red; 
  }
}