.block-grid {
  font-size: 0;
  margin: 0 -.5rem;
  padding: 0;
}

.block-grid-item {
  display: inline-block;
  font-size: 1rem;
  padding: .5rem;
  vertical-align: top;
}

@include generate-breakpoint-prefixes {
  &block-grid-1 .block-grid-item { width: 100%; }
  &block-grid-2 .block-grid-item { width: percentage(1/2); }
  &block-grid-3 .block-grid-item { width: percentage(1/3); }
  &block-grid-4 .block-grid-item { width: percentage(1/4); }
  &block-grid-5 .block-grid-item { width: percentage(1/5); }
  &block-grid-6 .block-grid-item { width: percentage(1/6); }
}
