// Reset Button
//
// In an article on CSS-Tricks
// (http://css-tricks.com/use-button-element/),
// Chris Coyier explains that:
// "if a button doesn’t have a meaningful
// href, it’s a <button>"; which makes sense.
//
// This placeholder resets <button>'s
// default styling, so we can use
// <button>s where it makes without
// worrying about the styling.
// -------------------------
@mixin button-reset {
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 0;
  white-space: nowrap;
  @include prefix((appearance: none), webkit);
  @include prefix((user-select: none));

  &,
  &:active {
    &:focus {
      outline: 0;
    }

  }

}

$button-height: 2.625rem;
$button-height-small: 2rem;

.button,
.button--disabled,
.button--small {
  @include button-reset;
  font-family: inherit;
  height: $button-height;
  padding: .625rem .875rem;
  font-size: $type-4;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;

  &:hover {
    transition: background-color .3s ease 0s;
  }
}

.button--primary {
  background-color: $fill-blue;
  color: $text-white;

  &:not(.button--disabled):hover {
    background-color: darken($fill-blue, 20%);
  }

  &:not(.button--disabled):active {    
    background-color: darken($fill-blue, 35%);
  }
}

.button--secondary {
  border: 1px solid $fill-blue;
  color: $text-blue;
  background: none;

  &:not(.button--disabled):hover {
    background-color: $fill-blue;
    color: $fill-white; 
  }

  &:not(.button--disabled):active {   
    background-color: darken($fill-blue, 20%); 
  }
}

.button--delete {
  background-color: $fill-red;
  color: $text-white; 

  &:not(.button--disabled):hover {
    background-color: darken($fill-red, 20%); 
  }

  &:not(.button--disabled):active {   
    background-color: darken($fill-red, 35%); 
  }
}

.button--disabled {
  opacity: .3;

  &:hover {
    cursor: default;
    transition: none;
  }
}

.button--small {
  font-size: $type-5;
  padding: .375rem .625rem;
  height: $button-height-small;
}

.button+.button {
  margin-left: .375rem;
}

.segmented-button {
  position: relative;
  display: inline-block;
  border: $border;
  border-radius: 3px;
  text-decoration: none;
  color: $text-blue;

  input {
    @include visuallyhidden;
  }
  
}

.segmented-button-label {
  display: inline-block;
  cursor: pointer;
  float: left;
  padding: .6875rem .875rem;
  border-right: $border;
  height: $button-height;

  &:hover {
    transition: background-color .3s ease 0s;
    background-color: $fill-gray--lighter;
  }

  &:last-of-type {
    border: 0;
  }
}

.segmented-button:checked + .segmented-button-label {
  background-color: $fill-gray--lighter; 
  color: $text-gray;
}

.segmented-button-label--small {
  padding: .5rem .625rem;
  height: $button-height-small;
  font-size: $type-5; 
}

// This overrides link styles so that button text doesn't inherit global a styling
 
a.button {

  &:hover {
    color: $text-white;
  }
}

